

<div class="board-imagen-text-v2 ">
    <div class="board-imagen-text__imagen position-relative">
        <img class="img-full" src="../../../../img/.jpg"/>
    </div>
    <div class="board-imagen-text-v2__texto mt-2">
        <p class="title title--light title--color1 mb-0">
                Lorem Ipsum Sip
        </p>
        <p class="text w-100"></p>
    </div>
</div>
