

<div class="habitaciones  px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1"></p>
			<p class="text mb-1"></p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size"></p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div>
