

<div class="board-imagen-text ">
    <div class="board-imagen-text__imagen position-relative">
        <img class="img-full" src="../../../../img/.jpg"/>
        <div class="board-imagen-text__hover">
            <p class="text--hover position-absolute"></p>
        </div>
    </div>
    <div class="board-imagen-text__texto mt-2">
        <p class="title--regular--medium title--color1 text-center mb-0"></p>
    </div>
</div>
