

<section class="footer bk-color2 mx-0 py-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer__logos col-12 col-sm-3">
                <img class="img-full" src="../../../img/logo2.svg" />
                <img class="img-full" src="../../../img/logo3.svg" />
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Sobre Nosotros</li>
                    <li class="text-color--white">Aviso legal</li>
                    <li class="text-color--white">Política de cookies</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Mallorca</li>
                    <li class="text-color--white">Contacto</li>
                    <li class="text-color--white">Newsletter</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <p class="text-color--color1 mb-1">Secrets Mallorca Villamil Resort & Spa</p>
                <p class="text-color--white mb-1">Bulevar de Peguera 66,</p>
                <p class="text-color--white mb-1">Peguera, Mallorca 07160 Spain</p>
                <p class="text-color--white mb-1">info.secmv@secretsresorts.com</p>
            </div>
            <div class="footer__social col-12 col-sm-2">
                <i class="fab fa-facebook-f text-color--white"></i>
                <i class="fab fa-twitter text-color--white"></i>
                <i class="fab fa-instagram text-color--white"></i>
            </div>
        </div>
    </div>
</section>
<section class="motorMobile">
    <p class="text">Reservar</p>
</section>
