

<div class="habitaciones--reverse--club">
    <h2 class="title title--light title--color2 text-center pt-4 pb-4 mt-4 mb-0"></h2>
</div>
<section class="mb-0 mt-0 preferredclub container-fluid mx-0 px-0" id="preferedclub">
    <img class="img-full" src="../../../img/preferedclub.jpg"/>
    <div class="preferredclub__text">
        <div class="texto-con-titulo-v4 ">
            <div class="titulo-con-subtitulo-arriba">
                <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
                        Disfruta de la exclusividad máxima
                </p>
                <h1 class="title title--regular text-color--white">
                        Preferred club
                </h1>
            </div>    <div class="texto-con-titulo-v4__texto">
                <p class="text--club">Disfruta de servicios exclusivos: Check-in/Check-out personalizados - Alojamiento en las zonas más exclusivas 
        - Zona reservada en el restaurante World Café - Solarium privado - Servicio de mayordomo - y mucho más (consulta más en la recepción del hotel)</p>
            </div>
        </div>    </div>
</section><div class="habitaciones container-fluid pt-4 pb-4 habitaciones--reverse--club px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
				<p class="subtitle subtitle--regular subtitle--regular--color1 mb-2">PREFERRED CLUB</p>
				<p class="title title--regular title--regular--medium title--color2">DELUXE VISTA MAR</p>
				<p class="text mb-1">Las habitaciones Deluxe vista al mar Preferred Club del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicio de habitaciones hasta la medianoche*. dotaciones de baño, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
				<div class="d-block">
					<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
				</div>
				<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
				</main>
		</div>
		</main> 
</div><div class="habitaciones container-fluid habitaciones--reverse--club pt-4 pb-4 px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
				<p class="subtitle subtitle--regular subtitle--regular--color1 mb-2">PREFERRED CLUB</p>
				<p class="title title--regular title--regular--medium title--color2">JUNIOR SUITE VISTA MAR</p>
				<p class="text mb-1">Las habitaciones Junior Suite vista al mar - Preferred Club del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite , tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
				<div class="d-block">
					<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
				</div>
				<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
				</main>
		</div>
		</main> 
</div>
