

<div class="habitaciones container-fluid pt-4 pb-4 px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DOBLE</p>
			<p class="text mb-1">Las habitaciones dobles del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, blacón o terraza amueblados y privados con vistas al mar, albornoces, servicio de habitaciones hasta la medianoche*,dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid habitaciones--reverse px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DOBLE VISTA MAR</p>
			<p class="text mb-1">Las habitaciones dobles con vista al mar del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, minibar*, Wi-Fi gratuito, TB LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid pt-4 pb-4 px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DELUXE</p>
			<p class="text mb-1">Las habitaciones Deluxe del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, blacón o terraza amueblados y provados, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales de vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid habitaciones--reverse px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DELUXE VISTA MAR</p>
			<p class="text mb-1">Las habitaciones Deluxe vista mar del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicios de habitaciones hasta la medianoche*. dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada). secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div>

