

<section class="header container-fluid mx-0 px-0 mb-0 bk-color-white">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/components/preview/home.html" class="navbar--brand"><img src="../../../img/logo.png" class="header__logo img-full"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item header__button">
                        <a class="header__link" href="#preferedclub">Preferred Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="/components/preview/listadohabitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#restaurantes">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#wellnessandspa">Wellness&Spa</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#galeria">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>


