

<section class="topbar d-none d-sm-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <a href="https://www.secretsresorts.com/en_us/home.html" class="topbar__link">Visitar la web oficial de secrets resort</a>
            </div>
            <div class="topbar__right col-7 d-sm-flex justify-content-end">
                <p class="btn-solid--black mr-2">MI RESERVA</p>
                <p class="topbar__phone mr-2"<i class="fas fa-phone">+34 971 466 711</i></p>
                
                <div class="topbar__language list-unstyle list-inline d-md-flex">
                    <p class="list-inline-item mr-2 mr-xl-3 pr-xl-3"><i class="fas fa-globe-americas"></i></p>
                    <ul class="topbar__language--list d-md-flex pr-md-0 pl-md-1 d-xl-flex flex-xl-column">
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">ES</li>
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">EN</li>
                        <li class="topbar__language--idioma--idioma mr-2 mr-md-0 px-md-1 text-md-center">DE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><section class="header container-fluid mx-0 px-0 mb-0 bk-color-white">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/components/preview/home.html" class="navbar--brand"><img src="../../../img/logo.png" class="header__logo img-full"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item header__button">
                        <a class="header__link" href="#preferedclub">Preferred Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="/components/preview/listadohabitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#restaurantes">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#wellnessandspa">Wellness&Spa</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#galeria">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="slide container-fluid mx-0 px-0">
    <img class="img-full" src="../../../img/slide-1.png"/>
    <div class="slide__motor">
        <div class="reservas">
            <div class="c-form col-8 mx-auto">
                <form action="" class="c-form row align-items-center">
                    <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                        <label for="" class="text text--color--white text-uppercase mb-0 text--number">llegada</label>
                        <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="6">
                        <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
                    </div>
                    <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                        <label for="" class="text text--color--white text-uppercase mb-0 text--number">salida</label>
                        <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="7">
                        <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
                    </div>
                    <div class="form-group mb-0 col-4 c-form--text text-center">
                        <label for="" class="sr-only">Promo code</label>
                        <input type="text" class="form-control text text--color--gold text-uppercase text-center" placeholder="code">
                    </div>
                    <div class="form-group mb-0 col-4 c-form--action text-center">
                        <input type="submit" class="form-control btn btn--form text-uppercase text-center" placeholder="ver disponibilidad">
                    </div>
                </form>
            </div>
        </div>        <a href="https://reservas.secretsresorts.es/" class="d-none"><img class="motor" src="../../../img/motor-reservas.png"/></a>
    </div>
    <div class="slide__ventajas">
        <div class="d-flex flex-column flex-sm-row justify-content-around">
            <div class="d-flex justify-content-center">
                <i class="icon far fa-star"></i>
                <p class="text text-color--white">Mejor precio online</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon far fa-bookmark"></i>
                <p class="text text-color--white">Late Check-Out (Consultar)</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-heart"></i>
                <p class="text text-color--white">Ofertas Exclusivas</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-wifi"></i>
                <p class="text text-color--white">Wifi Gratis</p>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text text-color--white"><span class="texticon">16</span> Hotel Solo adultos</p>
            </div>
        </div>
    </div>
</section><section class="intro mt-4" id="intro">
    <div class="texto-con-titulo container">
        <div class="row">
            <div class="col-12">
                <div class="titulo-con-subtitulo">
                    <h1 class="title title--regular">Secrets Mallorca Villamil Resort &amp; Spa</h1>
                    <p class="subtitle subtitle--regular--color2">Apertura 1 de Mayo de 2019</p>
                </div>            <div class="texto-con-titulo__texto">
                    <p class="text">Uno de los primeros Secrets Resorts & Spas que abre en Europa, el Secrets Mallorca Villamil Resort & Spa, es una delicia para aquellos que buscan una escapada romántica y relajante en la costa del Mar Mediterráneo. En el pueblo tranquilo de Paguera en Mallorca, el Secrets Mallorca Villamil Resort & Spa es un resort con estilo de castillo para disfrutar de una escapada adulta refinada. En Secrets Mallorca Villamil Resort & Spa, los huéspedes se relajan en habitaciones y suites con vistas espectaculares, y la mayoría mira al majestuoso Mar Mediterráneo. Experimenta un servicio atento, gastronomía local e internacional, entretenimiento increíble, una piscina frente a la playa y un spa con vistas al mar. Visita el casco antiguo de Mallorca o el pintoresco pueblo de pescadores de Port d'Andratx con la ayuda de nuestra recepción las 24 horas. Tu refugio romántico al lado del mar te espera en el Secrets Mallorca Villamil Resort & Spa.
    </p>
                </div>
            </div>
        </div>
    </div></section><div class="separator-line">&nbsp;</div><section class="ofertas container mt-2" id="ofertas">
    <div class="titulo-con-subtitulo">
        <h1 class="title title--regular">Promociones exclusivas</h1>
        <p class="subtitle subtitle--regular--color2"></p>
    </div>    <div class="row">
        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-1.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">Reserva ahora y disfruta de un 20% de dto adicional en tu reserva. Valido para estancias entre 01/05/2019 al 20/11/2019. Oferta disponible hasta el 30/04/2019</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">20% Dto - Oferta Apertura</p>
            </div>
        </div>        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-2.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">…y disfruta de servicios exclusivos como Check-in/ Check-out personalizados, Alojamiento en las zonas más exclusivas, zona reservada en el restaurante World Café, Solarium Privado, Servicio de Mayordomo… y mucho más</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">Reserva Preferred Club</p>
            </div>
        </div>        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-3.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">Disponible para reservas a través de la web oficial de Secrets Mallorca Villamil (bajo petición y sujeto a disponibilidad)</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">Late checkout Gratuito</p>
            </div>
        </div>    </div>
</section><section class="galeria-doble container-fluid mx-0" id="galeria">
    <div class="row">
        <div class="galeria-doble__home col-12 px-0">
            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>        </div>
        <div class="col-12">
        	<h3 class="subtitle subtitle--regular--color1 text-center pt-2"> | GALERÍA DE FOTOS | </h3>
        </div>
    </div>
</section><section class=" preferredclub container-fluid mx-0 px-0" id="preferedclub">
    <img class="img-full" src="../../../img/preferedclub.jpg"/>
    <div class="preferredclub__text">
        <div class="texto-con-titulo-v4 ">
            <div class="titulo-con-subtitulo-arriba">
                <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
                        Disfruta de la exclusividad máxima
                </p>
                <h1 class="title title--regular text-color--white">
                        Preferred club
                </h1>
            </div>    <div class="texto-con-titulo-v4__texto">
                <p class="text--club">Disfruta de servicios exclusivos: Check-in/Check-out personalizados - Alojamiento en las zonas más exclusivas 
        - Zona reservada en el restaurante World Café - Solarium privado - Servicio de mayordomo - y mucho más (consulta más en la recepción del hotel)</p>
            </div>
        </div>    </div>
</section><section class="informacion-restaurantes container" id="restaurantes">
    <div class="row">
        <div class="texto-con-titulo-v2 container">
            <div class="row">
                <div class="col-12">
                    <div class="titulo-con-subtitulo-v2">
                        <h1 class="title title--regular">
                                Restaurantes
                        </h1>
                        <p class="subtitle subtitle--regular--color2">
                                Una variada oferta gastronómica
                        </p>
                    </div>            <div class="texto-con-titulo-v2__texto">
                        <p class="text">El Resort ofrece cuatro restaurantes, dos a la carta, un buffet y una parrilla, donde podrás saborear la cocina internacional. Además Secrets Mallorca Villamil pone a tu disposición cinco bares en los que podrás relajarte y disfrutar de tu bebida favorita al lado de la piscina o en la playa.</p>
                    </div>
                    <div class="texto-con-titulo-v2__restaurantes">
                        <div class="d-flex flex-row flex-wrap justify-content-center">
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">World Cafe</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Barefoot Grill</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Dolma</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Seaside Grill</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Piano Bar</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Sky Bar</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Sugar Reef</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Barracuda</p>
                            </div>
                            <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                                <p class="text">Coco Café</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><section class="galeria-restaurantes container">
    <div class="row">
        <div class="galeria-restaurantes__flickity col-12">
            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-1.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            World Café
                    </p>
                    <p class="text w-100">Buffet Internacional</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-2.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Barefoot Grill
                    </p>
                    <p class="text w-100">Especialidad en almuerzos ligeros</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-3.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Piano Bar
                    </p>
                    <p class="text w-100">Lounge Bar con música en directo</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-4.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Sugar Reef
                    </p>
                    <p class="text w-100">Beach Bar</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-1.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            World Café
                    </p>
                    <p class="text w-100">Buffet Internacional</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-2.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Barefoot Grill
                    </p>
                    <p class="text w-100">Especialidad en almuerzos ligeros</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-3.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Piano Bar
                    </p>
                    <p class="text w-100">Lounge Bar con música en directo</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-4.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Sugar Reef
                    </p>
                    <p class="text w-100">Beach Bar</p>
                </div>
            </div>        </div>
    </div>
</section><section class="wellnessandspa container-fluid mx-0 px-0" id="wellnessandspa">
    <img class="img-full" src="../../../img/wellnessandspa.jpg"/>
    <div class="wellnessandspa__text">
        <div class="texto-con-titulo-v3 ">
            <div class="titulo-sin-subtitulo">
                <h1 class="title title--regular text-color--white">
                        Wellness &amp; Spa
                </h1>
            </div>    <div class="texto-con-titulo-v3__texto text-color--white">
                <p class="text">Sumérgete en la relajación más pura en el Secrets Spa, donde podrás disfrutar de un ambiente sublime de indulgencia rodeado de vistas impresionantes. Ofrece docenas de tratamientos con los que puedes experimentar la verdadera tranquilidad con una gran variedad de técnicas.</p>
            </div>
        </div>    </div>
</section><section class="servicios-con-imagen container" id="servicios">
    <div class="row">
        <div class="texto-con-titulo-v5 col-12 col-sm-6">
            <div class="titulo-con-subtitulo-arriba-v2">
                <p class="subtitle subtitle--regular--color2 pb-0 mb-2 pt-4">
                        Excelentes servicios e instalaciones
                </p>
                <h1 class="title title--regular">
                        Servicios Secrets
                </h1>
            </div>    <div class="texto-con-titulo-v5__texto">
                <p class="text">Secrets Mallorca Villamil Resort &amp; Spa proporciona un servicio e instalaciones excelentes, todas en el mismo lugar para disfrutar una experiencia majestuosa. Sumérgete en nuestra piscina centelleante, haz ejercicio en nuestro gimnasio totalmente equipado o disfruta de actividades culturales y espectáculos a cargo de nuestro equipo interactivo de actividades y espectáculos.</p>
            </div>
            <div class="texto-con-titulo-v5__lista">
                <div class="d-flex flex-row flex-wrap justify-content-left">
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Shows en vivo</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Piscina exterior climatizada</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Clases de pilates</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Camas balinesas</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Campos de golf asociados</p>
                    </div>
                </div>
            </div>
        </div>        <div class="col-12 col-sm-6">
            <img class="img-full" src="../../../img/servicios-imagenderecha.jpg"/>
        </div>
    </div>
</section><section class=" newsletter container-fluid mx-0 px-0 mb-0">
    <img class="img-full" src="../../../img/newsletter.png"/>
    <div class="newsletter__texto w-100">
        <div class="container">
            <div class="row">
                <div class="texto-con-titulo-v6 col-12 col-sm-4">
                    <div class="titulo-sin-subtitulo-v2">
                        <h1 class="title title--regular text-color--white">
                                Newsletter
                        </h1>
                    </div>    <div class="texto-con-titulo-v6__texto text-color--white">
                        <p class="text">Suscríbete a nuestro boletín de noticias y recibe directamente en tu buzón nuestras mejores ofertas y promociones.</p>
                    </div>
                </div>
                <div class="input-form col-12 col-sm-5">
                    <div class="input-form__textbutton row">
                        <div class="col-8 mx-0 px-0">
                            <input type="text" placeholder="" class="input-form__input"/>
                        </div>
                        <div class="col-4 mx-0 px-0">
                            <button type="submit" class="btn btn--solid--color1">Suscríbete</button>
                        </div>
                    </div>
                    <input name="input-form__checkbox" type="checkbox" class="input-form__checkbox"/>
                    <label for="input-form__checkbox" class="input-form__checkbox--label">He leido y <a href="#">acepto la politica de privacidad.</a></label>
                </div>            </div>
        </div>
    </div>
</section><section class="footer bk-color2 mx-0 py-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer__logos col-12 col-sm-3">
                <img class="img-full" src="../../../img/logo2.svg" />
                <img class="img-full" src="../../../img/logo3.svg" />
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Sobre Nosotros</li>
                    <li class="text-color--white">Aviso legal</li>
                    <li class="text-color--white">Política de cookies</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Mallorca</li>
                    <li class="text-color--white">Contacto</li>
                    <li class="text-color--white">Newsletter</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <p class="text-color--color1 mb-1">Secrets Mallorca Villamil Resort & Spa</p>
                <p class="text-color--white mb-1">Bulevar de Peguera 66,</p>
                <p class="text-color--white mb-1">Peguera, Mallorca 07160 Spain</p>
                <p class="text-color--white mb-1">info.secmv@secretsresorts.com</p>
            </div>
            <div class="footer__social col-12 col-sm-2">
                <i class="fab fa-facebook-f text-color--white"></i>
                <i class="fab fa-twitter text-color--white"></i>
                <i class="fab fa-instagram text-color--white"></i>
            </div>
        </div>
    </div>
</section>
<section class="motorMobile">
    <p class="text">Reservar</p>
</section>
