

<section class="servicios-con-imagen container" id="servicios">
    <div class="row">
        <div class="texto-con-titulo-v5 col-12 col-sm-6">
            <div class="titulo-con-subtitulo-arriba-v2">
                <p class="subtitle subtitle--regular--color2 pb-0 mb-2 pt-4">
                        Excelentes servicios e instalaciones
                </p>
                <h1 class="title title--regular">
                        Servicios Secrets
                </h1>
            </div>    <div class="texto-con-titulo-v5__texto">
                <p class="text">Secrets Mallorca Villamil Resort &amp; Spa proporciona un servicio e instalaciones excelentes, todas en el mismo lugar para disfrutar una experiencia majestuosa. Sumérgete en nuestra piscina centelleante, haz ejercicio en nuestro gimnasio totalmente equipado o disfruta de actividades culturales y espectáculos a cargo de nuestro equipo interactivo de actividades y espectáculos.</p>
            </div>
            <div class="texto-con-titulo-v5__lista">
                <div class="d-flex flex-row flex-wrap justify-content-left">
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Shows en vivo</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Piscina exterior climatizada</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Clases de pilates</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Camas balinesas</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                        <p class="text">Campos de golf asociados</p>
                    </div>
                </div>
            </div>
        </div>        <div class="col-12 col-sm-6">
            <img class="img-full" src="../../../img/servicios-imagenderecha.jpg"/>
        </div>
    </div>
</section>
