

<div class="input-form ">
    <div class="input-form__textbutton row">
        <div class="col-8 mx-0 px-0">
            <input type="text" placeholder="" class="input-form__input"/>
        </div>
        <div class="col-4 mx-0 px-0">
            <button type="submit" class="btn btn--solid--color1">Suscríbete</button>
        </div>
    </div>
    <input name="input-form__checkbox" type="checkbox" class="input-form__checkbox"/>
    <label for="input-form__checkbox" class="input-form__checkbox--label">He leido y <a href="#">acepto la politica de privacidad.</a></label>
</div>
