

<section class="intro mt-4" id="intro">
    <div class="texto-con-titulo container">
        <div class="row">
            <div class="col-12">
                <div class="titulo-con-subtitulo">
                    <h1 class="title title--regular">Secrets Mallorca Villamil Resort &amp; Spa</h1>
                    <p class="subtitle subtitle--regular--color2">Apertura 1 de Mayo de 2019</p>
                </div>            <div class="texto-con-titulo__texto">
                    <p class="text">Uno de los primeros Secrets Resorts & Spas que abre en Europa, el Secrets Mallorca Villamil Resort & Spa, es una delicia para aquellos que buscan una escapada romántica y relajante en la costa del Mar Mediterráneo. En el pueblo tranquilo de Paguera en Mallorca, el Secrets Mallorca Villamil Resort & Spa es un resort con estilo de castillo para disfrutar de una escapada adulta refinada. En Secrets Mallorca Villamil Resort & Spa, los huéspedes se relajan en habitaciones y suites con vistas espectaculares, y la mayoría mira al majestuoso Mar Mediterráneo. Experimenta un servicio atento, gastronomía local e internacional, entretenimiento increíble, una piscina frente a la playa y un spa con vistas al mar. Visita el casco antiguo de Mallorca o el pintoresco pueblo de pescadores de Port d'Andratx con la ayuda de nuestra recepción las 24 horas. Tu refugio romántico al lado del mar te espera en el Secrets Mallorca Villamil Resort & Spa.
    </p>
                </div>
            </div>
        </div>
    </div></section>
