

<section class="topbar d-none d-sm-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <a href="https://www.secretsresorts.com/en_us/home.html" class="topbar__link">Visitar la web oficial de secrets resort</a>
            </div>
            <div class="topbar__right col-7 d-sm-flex justify-content-end">
                <p class="btn-solid--black mr-2">MI RESERVA</p>
                <p class="topbar__phone mr-2"<i class="fas fa-phone">+34 971 466 711</i></p>
                
                <div class="topbar__language list-unstyle list-inline d-md-flex">
                    <p class="list-inline-item mr-2 mr-xl-3 pr-xl-3"><i class="fas fa-globe-americas"></i></p>
                    <ul class="topbar__language--list d-md-flex pr-md-0 pl-md-1 d-xl-flex flex-xl-column">
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">ES</li>
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">EN</li>
                        <li class="topbar__language--idioma--idioma mr-2 mr-md-0 px-md-1 text-md-center">DE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><section class="header container-fluid mx-0 px-0 mb-0 bk-color-white">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="/components/preview/home.html" class="navbar--brand"><img src="../../../img/logo.png" class="header__logo img-full"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item header__button">
                        <a class="header__link" href="#preferedclub">Preferred Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="/components/preview/listadohabitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#restaurantes">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#wellnessandspa">Wellness&Spa</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#galeria">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="slide container-fluid mx-0 px-0">
    <img class="img-full" src="../../../img/habitacionhd.jpg"/>
    <div class="slide__motor">
        <a href="https://reservas.secretsresorts.es/"><img class="motor" src="../../../img/motor-reservas.png"/></a>
    </div>
    <div class="slide__ventajas">
        <div class="d-flex flex-column flex-sm-row justify-content-around">
            <div class="d-flex justify-content-center">
                <i class="icon far fa-star"></i>
                <p class="text text-color--white">Mejor precio online</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon far fa-bookmark"></i>
                <p class="text text-color--white">Late Check-Out (Consultar)</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-heart"></i>
                <p class="text text-color--white">Ofertas Exclusivas</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-wifi"></i>
                <p class="text text-color--white">Wifi Gratis</p>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text text-color--white"><span class="texticon">16</span> Hotel Solo adultos</p>
            </div>
        </div>
    </div>
</section><div class="texto-con-titulo-v2 container">
    <div class="row">
        <div class="col-12">
			<h1 class="title title--regular title--color1 text-center">HABITACIONES SECRETS MALLORCA VILLAMIL</h1>
            <div class="texto-con-titulo-v2__texto">
                <p class="text">Secrets Mallorca Villamil Resort &amp; Spa ofrece 162 habitaciones y suites para no fumadores con vistas al magnífico Mar Mediterráneo, terraza amueblada, cama tamaño King, Queen o dos camas individuales, baño amplio con ducha y mucho más.</p>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="habitaciones container-fluid pt-4 pb-4 px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DOBLE</p>
			<p class="text mb-1">Las habitaciones dobles del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, blacón o terraza amueblados y privados con vistas al mar, albornoces, servicio de habitaciones hasta la medianoche*,dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid habitaciones--reverse px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DOBLE VISTA MAR</p>
			<p class="text mb-1">Las habitaciones dobles con vista al mar del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, minibar*, Wi-Fi gratuito, TB LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid pt-4 pb-4 px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DELUXE</p>
			<p class="text mb-1">Las habitaciones Deluxe del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, blacón o terraza amueblados y provados, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales de vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div><div class="habitaciones container-fluid habitaciones--reverse px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
			<p class="title title--regular title--regular--medium title--color1">DELUXE VISTA MAR</p>
			<p class="text mb-1">Las habitaciones Deluxe vista mar del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicios de habitaciones hasta la medianoche*. dotaciones de baño, minibar*, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada). secador de pelo, cafetera, caja fuerte en la habitación.</p>
			<div class="d-block">
				<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
			</div>
			<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
			</main>
		</div>
		</main>	 
</div>
<div class="habitaciones--reverse--club">
    <h2 class="title title--light title--color2 text-center pt-4 pb-4 mt-4 mb-0">HABITACIONES PREFERRED CLUB</h2>
</div>
<section class="mb-0 mt-0 preferredclub container-fluid mx-0 px-0" id="preferedclub">
    <img class="img-full" src="../../../img/preferedclub.jpg"/>
    <div class="preferredclub__text">
        <div class="texto-con-titulo-v4 ">
            <div class="titulo-con-subtitulo-arriba">
                <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
                        Disfruta de la exclusividad máxima
                </p>
                <h1 class="title title--regular text-color--white">
                        Preferred club
                </h1>
            </div>    <div class="texto-con-titulo-v4__texto">
                <p class="text--club">Disfruta de servicios exclusivos: Check-in/Check-out personalizados - Alojamiento en las zonas más exclusivas 
        - Zona reservada en el restaurante World Café - Solarium privado - Servicio de mayordomo - y mucho más (consulta más en la recepción del hotel)</p>
            </div>
        </div>    </div>
</section><div class="habitaciones container-fluid pt-4 pb-4 habitaciones--reverse--club px-0">
		<main class="row  px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
				<p class="subtitle subtitle--regular subtitle--regular--color1 mb-2">PREFERRED CLUB</p>
				<p class="title title--regular title--regular--medium title--color2">DELUXE VISTA MAR</p>
				<p class="text mb-1">Las habitaciones Deluxe vista al mar Preferred Club del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicio de habitaciones hasta la medianoche*. dotaciones de baño, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite, tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
				<div class="d-block">
					<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
				</div>
				<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
				</main>
		</div>
		</main> 
</div><div class="habitaciones container-fluid habitaciones--reverse--club pt-4 pb-4 px-0">
		<main class="row flex-row-reverse px-0 mx-0">
		<div class="col-12 col-sm-6 px-0 px-sm-auto">
			<img src="../../../../img/habitacion5.jpg" alt="" class="habitaciones__img img-full"/>
		</div>
	   	<div class="habitaciones__texto col-12 col-sm-6 text-left mt-4 px-sm-5">
				<p class="subtitle subtitle--regular subtitle--regular--color1 mb-2">PREFERRED CLUB</p>
				<p class="title title--regular title--regular--medium title--color2">JUNIOR SUITE VISTA MAR</p>
				<p class="text mb-1">Las habitaciones Junior Suite vista al mar - Preferred Club del Secrets Mallorca Villamil disponen de baño amplio con un lavabo y ducha, balcón o terraza amueblados y privados con vista al mar, albornoces, servicio de habitaciones hasta la medianoche*, dotaciones de baño, Wi-Fi gratuito, TV LED de 50 pulgadas con canales vía satélite , tableta en la habitación, Sistema centralizado de calefacción y aire acondicionado (según la temporada), secador de pelo, cafetera, caja fuerte en la habitación.</p>
				<div class="d-block">
					<p class="subtitle subtitle--light subtitle--light--color2 subtitle--light--color2--size">*Pueden aplicarse cargos adicionales.</p>
				</div>
				<main class="row">
				<div class="col-12 col-sm-6 text-left">
					<a href="https://reservas.secretsresorts.es/" class="btn btn--mas book" onclick="location.href='https://es-secretsvillamil.backhotelengine.com'">RESERVAR</a>
				</div>
				<div class="col-12 col-sm-6 text-center">
				</div>
				</main>
		</div>
		</main> 
</div><section class=" newsletter container-fluid mx-0 px-0 mb-0">
    <img class="img-full" src="../../../img/newsletter.png"/>
    <div class="newsletter__texto w-100">
        <div class="container">
            <div class="row">
                <div class="texto-con-titulo-v6 col-12 col-sm-4">
                    <div class="titulo-sin-subtitulo-v2">
                        <h1 class="title title--regular text-color--white">
                                Newsletter
                        </h1>
                    </div>    <div class="texto-con-titulo-v6__texto text-color--white">
                        <p class="text">Suscríbete a nuestro boletín de noticias y recibe directamente en tu buzón nuestras mejores ofertas y promociones.</p>
                    </div>
                </div>
                <div class="input-form col-12 col-sm-5">
                    <div class="input-form__textbutton row">
                        <div class="col-8 mx-0 px-0">
                            <input type="text" placeholder="" class="input-form__input"/>
                        </div>
                        <div class="col-4 mx-0 px-0">
                            <button type="submit" class="btn btn--solid--color1">Suscríbete</button>
                        </div>
                    </div>
                    <input name="input-form__checkbox" type="checkbox" class="input-form__checkbox"/>
                    <label for="input-form__checkbox" class="input-form__checkbox--label">He leido y <a href="#">acepto la politica de privacidad.</a></label>
                </div>            </div>
        </div>
    </div>
</section><section class="footer bk-color2 mx-0 py-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer__logos col-12 col-sm-3">
                <img class="img-full" src="../../../img/logo2.svg" />
                <img class="img-full" src="../../../img/logo3.svg" />
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Sobre Nosotros</li>
                    <li class="text-color--white">Aviso legal</li>
                    <li class="text-color--white">Política de cookies</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-2">
                <ul class="list-unstyled">
                    <li class="text-color--white">Mallorca</li>
                    <li class="text-color--white">Contacto</li>
                    <li class="text-color--white">Newsletter</li>
                    <li class="text-color--white">Sitemap</li>
                </ul>
            </div>
            <div class="col-12 col-sm-3">
                <p class="text-color--color1 mb-1">Secrets Mallorca Villamil Resort & Spa</p>
                <p class="text-color--white mb-1">Bulevar de Peguera 66,</p>
                <p class="text-color--white mb-1">Peguera, Mallorca 07160 Spain</p>
                <p class="text-color--white mb-1">info.secmv@secretsresorts.com</p>
            </div>
            <div class="footer__social col-12 col-sm-2">
                <i class="fab fa-facebook-f text-color--white"></i>
                <i class="fab fa-twitter text-color--white"></i>
                <i class="fab fa-instagram text-color--white"></i>
            </div>
        </div>
    </div>
</section>
<section class="motorMobile">
    <p class="text">Reservar</p>
</section>

