

<section class="motor-reservas d-flex d-sm-inline-flex"> 
	<div class="motor-reservas__mascara">
		<form id="MADG_motorReservas" class="motor-reservas__form text-center form" >
			<div class="motor-reservas__form-group bartop flex-column">
				<div class="motor-reservas__form-field" campo="eligehotelodestino">
					<p class="field mb-0 text eligehotelodestino">
						<span>ELIGE HOTEL O DESTINO</span>
						<i class="fas fa-sort-down"></i>
					</p>
					<div id="eligehotelodestino" class="motor-reservas__form-popup">
						<ul>
							<li><p class="text text--upper text--cursor mb-0"><i class="fas fa-map-marker-alt"></i><span>Hoteles</span></p></li>
							<li><p class="btn mb-0 option" hotelCode="HoB5T3Ef4B3uGAMm%3AYjSyA">Hotel Arena Beach</p></li>
							<li><p class="btn mb-0 option" hotelCode="%24kfVhfHqLQ7HYpH36D8KNQ">Hotel Arena Suite</p></li>
							<li><p class="text text--upper text--cursor mb-0"><i class="fas fa-map-marker-alt"></i><span>Destinos</span></p></li>
							<li><p class="btn mb-0 option" hotelZone="Fuerteventura">Fuerteventura</p></li>
						</ul>
					</div>
					<!--<input type="hidden" name="id" id="MADG_hotelCode"/>-->
					<input type="hidden" name="hotelZone" id="MADG_hotelZone"/>
				</div>
				<div class="motor-reservas__form-field eligefechas" campo="eligefechas">
					<p id="daterange" class="daterange field mb-0 text eligefechas"><span>ELIGE TUS FECHAS DE ESTANCIA</span><i class="fas fa-sort-down"></i></p>
					<input type="hidden" name="arrival" id="MADG_fechaIn"/>
					<input type="hidden" name="departure" id="MADG_fechaOut"/>					
				</div>
			</div>
			<div class="motor-reservas__form-group barbottom flex-column">
				<div class="motor-reservas__form-field" campo="eligenumeropersonas">
					<p class="field mb-0 text textoEligeNumeroPersonas">ELIGE EL NUMERO DE PERSONAS</p>
					<div id="eligenumeropersonas" class="motor-reservas__form-popup">
						<div class="motor-reservas__form-popup-eligenumeropersonas">
							<div class="row">
								<div class="col-sm-6">
									<p class="text text--upper text--cursor mb-0 ml-1 adultos">Adultos</p>
								</div>
								<div class="col-sm-6">
									<div class="selector">
										<p class="text text--upper text--cursor mb-0"><i class="fas fa-plus adultos"></i><span class="numeroadultos" data-container="body" data-toggle="popover" data-trigger="manual" data-placement="right" data-content="">0</span><i class="fas fa-minus adultos"></i></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6"><p class="text text--upper text--cursor mb-0 ml-1 ninios">Niños</p></div>
								<div class="col-sm-6"><div class="selector"><p class="text text--upper text--cursor mb-0"><i class="fas fa-plus ninios"></i><span class="numeroninios" data-container="body" data-toggle="popover" data-trigger="manual" data-placement="right" data-content="">0</span><i class="fas fa-minus ninios"></i></p></div></div>
							</div>
							<div class="row">
								<div class="col-sm-6"><p class="text text--upper text--cursor mb-0 ml-1 bebes">Bebés</p></div>
								<div class="col-sm-6"><div class="selector"><p class="text text--upper text--cursor mb-0"><i class="fas fa-plus bebes"></i><span class="numerobebes" data-container="body" data-toggle="popover" data-trigger="manual" data-placement="right" data-content="">0</span><i class="fas fa-minus bebes"></i></p></div></div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-6"><input type="checkbox" id="soyResidente" value="true"><p class="text text--upper text--cursor mb-0 residente">Soy residente</p><i class="fas fa-info" data-container="body" data-toggle="popover" data-trigger="manual" data-placement="bottom" data-content=""></i></div>
								<div class="col-sm-6 text-right"><p id="btnFinalizarSeleccion" class="text text--upper text--cursor mb-0 px-3 py-1 btn btn--secondarycolor">¡Hecho!</p></div>
							</div>
						</div>
					</div>
					<input type="hidden" name="adults" id="MADG_numAdultos"/>
					<input type="hidden" name="children" id="MADG_numNinios"/>
					<input type="hidden" name="babies" id="MADG_numBebes"/>
				</div>
				<!--<div class="motor-reservas__form-field" campo="eligeloyalty">
					<p class="field mb-0 text">Soy BeBlue</p>
				</div>-->
				<div class="motor-reservas__form-field" campo="eligecupondescuento">
					<input type="text" class="form-control mb-0 text eligecupondescuento" placeholder="Introduce tu código" id="MADG_promocode" name="promo"/>
				</div>
				<div class="motor-reservas__form-field motor-reservas__form-field--button">
					<p class="submitButton">Buscar</p>
				</div>
			</div>
			<div class="closeButton text-right pr-2">
				<i class="fas fa-times text--white"></i>
				<p>Cerrar</p>
			</div>
		</form>
	</div>
</section>
