

<section class=" newsletter container-fluid mx-0 px-0 mb-0">
    <img class="img-full" src="../../../img/newsletter.png"/>
    <div class="newsletter__texto w-100">
        <div class="container">
            <div class="row">
                <div class="texto-con-titulo-v6 col-12 col-sm-4">
                    <div class="titulo-sin-subtitulo-v2">
                        <h1 class="title title--regular text-color--white">
                                Newsletter
                        </h1>
                    </div>    <div class="texto-con-titulo-v6__texto text-color--white">
                        <p class="text">Suscríbete a nuestro boletín de noticias y recibe directamente en tu buzón nuestras mejores ofertas y promociones.</p>
                    </div>
                </div>
                <div class="input-form col-12 col-sm-5">
                    <div class="input-form__textbutton row">
                        <div class="col-8 mx-0 px-0">
                            <input type="text" placeholder="" class="input-form__input"/>
                        </div>
                        <div class="col-4 mx-0 px-0">
                            <button type="submit" class="btn btn--solid--color1">Suscríbete</button>
                        </div>
                    </div>
                    <input name="input-form__checkbox" type="checkbox" class="input-form__checkbox"/>
                    <label for="input-form__checkbox" class="input-form__checkbox--label">He leido y <a href="#">acepto la politica de privacidad.</a></label>
                </div>            </div>
        </div>
    </div>
</section>
