

<section class="ofertas container mt-2" id="ofertas">
    <div class="titulo-con-subtitulo">
        <h1 class="title title--regular">Promociones exclusivas</h1>
        <p class="subtitle subtitle--regular--color2"></p>
    </div>    <div class="row">
        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-1.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">Reserva ahora y disfruta de un 20% de dto adicional en tu reserva. Valido para estancias entre 01/05/2019 al 20/11/2019. Oferta disponible hasta el 30/04/2019</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">20% Dto - Oferta Apertura</p>
            </div>
        </div>        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-2.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">…y disfruta de servicios exclusivos como Check-in/ Check-out personalizados, Alojamiento en las zonas más exclusivas, zona reservada en el restaurante World Café, Solarium Privado, Servicio de Mayordomo… y mucho más</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">Reserva Preferred Club</p>
            </div>
        </div>        <div class="board-imagen-text col-12 col-md-4">
            <div class="board-imagen-text__imagen position-relative">
                <img class="img-full" src="../../../../img/oferta-3.jpg"/>
                <div class="board-imagen-text__hover">
                    <p class="text--hover position-absolute">Disponible para reservas a través de la web oficial de Secrets Mallorca Villamil (bajo petición y sujeto a disponibilidad)</p>
                </div>
            </div>
            <div class="board-imagen-text__texto mt-2">
                <p class="title--regular--medium title--color1 text-center mb-0">Late checkout Gratuito</p>
            </div>
        </div>    </div>
</section>
