

<section class=" preferredclub container-fluid mx-0 px-0" id="preferedclub">
    <img class="img-full" src="../../../img/preferedclub.jpg"/>
    <div class="preferredclub__text">
        <div class="texto-con-titulo-v4 ">
            <div class="titulo-con-subtitulo-arriba">
                <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
                        Disfruta de la exclusividad máxima
                </p>
                <h1 class="title title--regular text-color--white">
                        Preferred club
                </h1>
            </div>    <div class="texto-con-titulo-v4__texto">
                <p class="text--club">Disfruta de servicios exclusivos: Check-in/Check-out personalizados - Alojamiento en las zonas más exclusivas 
        - Zona reservada en el restaurante World Café - Solarium privado - Servicio de mayordomo - y mucho más (consulta más en la recepción del hotel)</p>
            </div>
        </div>    </div>
</section>
