

<div class="reservas">
    <div class="c-form col-8 mx-auto">
        <form action="" class="c-form row align-items-center">
            <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                <label for="" class="text text--color--white text-uppercase mb-0 text--number">llegada</label>
                <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="6">
                <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
            </div>
            <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                <label for="" class="text text--color--white text-uppercase mb-0 text--number">salida</label>
                <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="7">
                <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
            </div>
            <div class="form-group mb-0 col-4 c-form--text text-center">
                <label for="" class="sr-only">Promo code</label>
                <input type="text" class="form-control text text--color--gold text-uppercase text-center" placeholder="code">
            </div>
            <div class="form-group mb-0 col-4 c-form--action text-center">
                <input type="submit" class="form-control btn btn--form text-uppercase text-center" placeholder="ver disponibilidad">
            </div>
        </form>
    </div>
</div>
