

<section class="galeria-doble container-fluid mx-0" id="galeria">
    <div class="row">
        <div class="galeria-doble__home col-12 px-0">
            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pl-0">
                <img class="img-full" src="../../../img/galeria-1.jpg"/>
            </div>            <div class="galeria__item col-12 col-sm-6 pr-0">
                <img class="img-full" src="../../../img/galeria-2.jpg"/>
            </div>        </div>
        <div class="col-12">
        	<h3 class="subtitle subtitle--regular--color1 text-center pt-2"> | GALERÍA DE FOTOS | </h3>
        </div>
    </div>
</section>
