

<section class="galeria-restaurantes container">
    <div class="row">
        <div class="galeria-restaurantes__flickity col-12">
            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-1.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            World Café
                    </p>
                    <p class="text w-100">Buffet Internacional</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-2.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Barefoot Grill
                    </p>
                    <p class="text w-100">Especialidad en almuerzos ligeros</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-3.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Piano Bar
                    </p>
                    <p class="text w-100">Lounge Bar con música en directo</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-4.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Sugar Reef
                    </p>
                    <p class="text w-100">Beach Bar</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-1.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            World Café
                    </p>
                    <p class="text w-100">Buffet Internacional</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-2.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Barefoot Grill
                    </p>
                    <p class="text w-100">Especialidad en almuerzos ligeros</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-3.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Piano Bar
                    </p>
                    <p class="text w-100">Lounge Bar con música en directo</p>
                </div>
            </div>            <div class="board-imagen-text-v2 col-12 col-sm-3">
                <div class="board-imagen-text__imagen position-relative">
                    <img class="img-full" src="../../../../img/restaurante-4.jpg"/>
                </div>
                <div class="board-imagen-text-v2__texto mt-2">
                    <p class="title title--light title--color1 mb-0">
                            Sugar Reef
                    </p>
                    <p class="text w-100">Beach Bar</p>
                </div>
            </div>        </div>
    </div>
</section>
