

<section class="slide container-fluid mx-0 px-0">
    <img class="img-full" src="../../../img/slide-1.png"/>
    <div class="slide__motor">
        <div class="reservas">
            <div class="c-form col-8 mx-auto">
                <form action="" class="c-form row align-items-center">
                    <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                        <label for="" class="text text--color--white text-uppercase mb-0 text--number">llegada</label>
                        <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="6">
                        <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
                    </div>
                    <div class="form-group mb-0 col-2 c-form--input text-center pb-1">
                        <label for="" class="text text--color--white text-uppercase mb-0 text--number">salida</label>
                        <input type="text" class="form-control text text--color--gold text--bold text-uppercase text-center py-0" placeholder="7">
                        <p class="text text--color--white text--bold text--date mb-0">feb 2019</p>
                    </div>
                    <div class="form-group mb-0 col-4 c-form--text text-center">
                        <label for="" class="sr-only">Promo code</label>
                        <input type="text" class="form-control text text--color--gold text-uppercase text-center" placeholder="code">
                    </div>
                    <div class="form-group mb-0 col-4 c-form--action text-center">
                        <input type="submit" class="form-control btn btn--form text-uppercase text-center" placeholder="ver disponibilidad">
                    </div>
                </form>
            </div>
        </div>        <a href="https://reservas.secretsresorts.es/" class="d-none"><img class="motor" src="../../../img/motor-reservas.png"/></a>
    </div>
    <div class="slide__ventajas">
        <div class="d-flex flex-column flex-sm-row justify-content-around">
            <div class="d-flex justify-content-center">
                <i class="icon far fa-star"></i>
                <p class="text text-color--white">Mejor precio online</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon far fa-bookmark"></i>
                <p class="text text-color--white">Late Check-Out (Consultar)</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-heart"></i>
                <p class="text text-color--white">Ofertas Exclusivas</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-wifi"></i>
                <p class="text text-color--white">Wifi Gratis</p>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text text-color--white"><span class="texticon">16</span> Hotel Solo adultos</p>
            </div>
        </div>
    </div>
</section>
