

<section class="slide container-fluid mx-0 px-0">
    <img class="img-full" src="../../../img/habitacionhd.jpg"/>
    <div class="slide__motor">
        <a href="https://reservas.secretsresorts.es/"><img class="motor" src="../../../img/motor-reservas.png"/></a>
    </div>
    <div class="slide__ventajas">
        <div class="d-flex flex-column flex-sm-row justify-content-around">
            <div class="d-flex justify-content-center">
                <i class="icon far fa-star"></i>
                <p class="text text-color--white">Mejor precio online</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon far fa-bookmark"></i>
                <p class="text text-color--white">Late Check-Out (Consultar)</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-heart"></i>
                <p class="text text-color--white">Ofertas Exclusivas</p>
            </div>
            <div class="d-flex justify-content-center">
                <i class="icon fas fa-wifi"></i>
                <p class="text text-color--white">Wifi Gratis</p>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text text-color--white"><span class="texticon">16</span> Hotel Solo adultos</p>
            </div>
        </div>
    </div>
</section>
