

<div class="texto-con-titulo-v2 container">
    <div class="row">
        <div class="col-12">
			<h1 class="title title--regular title--color1 text-center"></h1>
            <div class="texto-con-titulo-v2__texto">
                <p class="text"></p>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

