

<div class="texto-con-titulo-v3 ">
    <div class="titulo-sin-subtitulo">
        <h1 class="title title--regular text-color--white">
                Lorem ipsum dolor sit amet
        </h1>
    </div>    <div class="texto-con-titulo-v3__texto text-color--white">
        <p class="text"></p>
    </div>
</div>
