

<div class="texto-con-titulo-v2 container">
    <div class="row">
        <div class="col-12">
            <div class="titulo-con-subtitulo-v2">
                <h1 class="title title--regular">
                        Lorem ipsum dolor sit amet
                </h1>
                <p class="subtitle subtitle--regular--color2">
                        Lorem ipsum dolor sit amet
                </p>
            </div>            <div class="texto-con-titulo-v2__texto">
                <p class="text">El Resort ofrece cuatro restaurantes, dos a la carta, un buffet y una parrilla, donde podrás saborear la cocina internacional. Además Secrets Mallorca Villamil pone a tu disposición cinco bares en los que podrás relajarte y disfrutar de tu bebida favorita al lado de la piscina o en la playa.</p>
            </div>
            <div class="texto-con-titulo-v2__restaurantes">
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">World Cafe</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Barefoot Grill</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Dolma</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Seaside Grill</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Piano Bar</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Sky Bar</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Sugar Reef</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Barracuda</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 texto-con-titulo-v2__restaurantes-item">
                        <p class="text">Coco Café</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

