

<div class="texto-con-titulo-v6 ">
    <div class="titulo-sin-subtitulo-v2">
        <h1 class="title title--regular text-color--white">
                Lorem ipsum dolor sit amet
        </h1>
    </div>    <div class="texto-con-titulo-v6__texto text-color--white">
        <p class="text"></p>
    </div>
</div>

