

<div class="texto-con-titulo-v5 ">
    <div class="titulo-con-subtitulo-arriba-v2">
        <p class="subtitle subtitle--regular--color2 pb-0 mb-2 pt-4">
                Lorem ipsum dolor sit amet
        </p>
        <h1 class="title title--regular">
                Lorem ipsum dolor sit amet
        </h1>
    </div>    <div class="texto-con-titulo-v5__texto">
        <p class="text"></p>
    </div>
    <div class="texto-con-titulo-v5__lista">
        <div class="d-flex flex-row flex-wrap justify-content-left">
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Shows en vivo</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Piscina exterior climatizada</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Clases de pilates</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Camas balinesas</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Campos de golf asociados</p>
            </div>
        </div>
    </div>
</div>
