

<div class="titulo-con-subtitulo-arriba">
    <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
            Lorem ipsum dolor sit amet
    </p>
    <h1 class="title title--regular text-color--white">
            Lorem ipsum dolor sit amet
    </h1>
</div>
