

<div class="titulo-con-subtitulo-arriba-v2">
    <p class="subtitle subtitle--regular--color2 pb-0 mb-2 pt-4">
            Lorem ipsum dolor sit amet
    </p>
    <h1 class="title title--regular">
            Lorem ipsum dolor sit amet
    </h1>
</div>
