

<div class="titulo-con-subtitulo-v2">
    <h1 class="title title--regular">
            Lorem ipsum dolor sit amet
    </h1>
    <p class="subtitle subtitle--regular--color2">
            Lorem ipsum dolor sit amet
    </p>
</div>
