

<section class="topbar d-none d-sm-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <a href="https://www.secretsresorts.com/en_us/home.html" class="topbar__link">Visitar la web oficial de secrets resort</a>
            </div>
            <div class="topbar__right col-7 d-sm-flex justify-content-end">
                <p class="btn-solid--black mr-2">MI RESERVA</p>
                <p class="topbar__phone mr-2"<i class="fas fa-phone">+34 971 466 711</i></p>
                
                <div class="topbar__language list-unstyle list-inline d-md-flex">
                    <p class="list-inline-item mr-2 mr-xl-3 pr-xl-3"><i class="fas fa-globe-americas"></i></p>
                    <ul class="topbar__language--list d-md-flex pr-md-0 pl-md-1 d-xl-flex flex-xl-column">
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">ES</li>
                        <li class="topbar__language--idioma mr-2 mr-md-0 px-md-1 text-md-center">EN</li>
                        <li class="topbar__language--idioma--idioma mr-2 mr-md-0 px-md-1 text-md-center">DE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
