

<section class="wellnessandspa container-fluid mx-0 px-0" id="wellnessandspa">
    <img class="img-full" src="../../../img/wellnessandspa.jpg"/>
    <div class="wellnessandspa__text">
        <div class="texto-con-titulo-v3 ">
            <div class="titulo-sin-subtitulo">
                <h1 class="title title--regular text-color--white">
                        Wellness &amp; Spa
                </h1>
            </div>    <div class="texto-con-titulo-v3__texto text-color--white">
                <p class="text">Sumérgete en la relajación más pura en el Secrets Spa, donde podrás disfrutar de un ambiente sublime de indulgencia rodeado de vistas impresionantes. Ofrece docenas de tratamientos con los que puedes experimentar la verdadera tranquilidad con una gran variedad de técnicas.</p>
            </div>
        </div>    </div>
</section>
