.header{
    @extend %transform;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    z-index: 13;
    @include breakpoint(tablet) { position: relative;}
    @include breakpoint(tablet-port) { z-index: 11;}
    &__logo {
        z-index: 2;
        max-width: 150px;
        display: none;
        &--solo { 
            display: block;
            @include breakpoint(tablet-port) { display: none;}
        }
        &--mobile { 
            display: none;
            @include breakpoint(tablet-port) { display: block;}
        }
    }
    .navbar {
        &-nav{
            .nav-link{
                font-family: $fontfamily_2;
                color: black;
            }
            @include breakpoint(max-mobile){
                margin-top: 30px;
                .nav-item{
                    margin-top: 10px;
                }
            }
        }
        .nav-item{
            line-height: 1.6rem;
        }
        &-toggler{
            font-size: 0.75rem;
            padding: 3px;
            border: none;
            .icon { color: $color_1;}
        }
        &-collapse {
            @include breakpoint(tablet) {
                margin-bottom: -15px;
                margin-left: -15px;
                margin-right: -15px;
                background: white;
            }
            @include breakpoint(tablet-port) { padding-top: 0 !important;}
        }
        &--brand{
            z-index: 2;
        }
    }
    &__link{
        font-family: $fontfamily_2;
        color: black;
        margin: 0 14px;
        &:hover{
            color: $color_1;
            text-decoration: unset;
            @extend %transform;
        }
        line-height: 0.6rem;
    }
    &__button{
        border-right: 1px solid $color_1;
        @include breakpoint(max-mobile){
            border-right:unset;
        }
        .header__link{
            border: 1px solid $color_1;
            border-radius: 3px;
            padding: 10px 10px;
            white-space: nowrap;
        }
        
    }
}


.scroll {
    &-menu {
        .topbar {
            @include breakpoint(tablet-port) { display: none !important;}
        }
        .header {
            @include breakpoint(mobile) { top: 0;}
            @include breakpoint(tablet) {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                background: rgba(0,0,0,.7);
            }
            &__logo {
                &--mobile {
                    @include breakpoint(tablet-port) { display: none;}
                }
                &--solo {
                    @include breakpoint(tablet-port) { display: block;}
                }
            }
            .navbar {
                @include breakpoint(tablet-port) { justify-content: space-between;}
                &--brand {
                    position: relative;
                    z-index: 11;
                }
                &-toggler {
                    @include breakpoint(tablet-port) { 
                        display: block;
                        position: relative;
                        z-index: 11;
                    
                    }
                }
                &-collapse {
                    @extend %transform;
                    @include breakpoint(tablet-port) {
                        padding-top: 1rem !important;
                        padding-bottom: 1rem;
                        position: fixed;
                        top: -100%;
                        left: 0;
                        background: white;
                        width: 100%;
                    }
                    &.show {
                        @include breakpoint(tablet-port) { top: 55px;}
                    }
                }
                &-nav {
                    @include breakpoint(tablet-port) {
                        flex-direction: column;
                        width: 100%;
                    }
                }
            }
            .nav {
                &-item {
                    @include breakpoint(tablet-port) { 
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media(min-width:577px) and (max-width:991px){
    .header__logo--solo{
        display: block;
    }
}