<section class="header container-fluid mx-0 px-0 mb-0 bk-color-white">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <a href="/components/preview/home.html" class="navbar--brand">
                <img src="../../../img/logo.png" class="header__logo header__logo--mobile img-full"/>
                <img src="../../../img/logo_solo.png" class="header__logo header__logo--solo img-full"/>
            </a>
            <div class="wrapper d-flex align-items-start">
                {{> @topbar-leguage custom_class="d-flex d-sm-none"}}
                <button class="navbar-toggler d-sm-none mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon fas fa-phone"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon fas fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end mt-sm-2 pt-sm-3 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav text-sm-center align-items-lg-center pt-lg-0">
                    <li class="nav-item mb-sm-2 mb-lg-0 header__button">
                        <a class="header__link d-inline-block" href="#preferedclub">Preferred Club</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="/components/preview/listadohabitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#restaurantes">Restaurantes</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#wellnessandspa">Wellness&Spa</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#galeria">Galería</a>
                    </li>
                    <li class="nav-item mb-sm-2 mb-lg-0">
                        <a class="header__link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

