.header{
    @extend %transform;
    background: white;
    top: 0;
    z-index: 13;
    //@include breakpoint(mobile) { top: 2.5rem;}
    @include breakpoint(tablet) { top: 1.4rem;}
    &__logo{
        z-index: 2;
        max-width: 200px;
        &--solo { 
            display: none;
        }
        @include breakpoint(max-mobile) { 
            display: block;
            max-width: 70px;
        }
    }
    .navbar {
        &-nav{
            .nav-link{
                font-family: $fontfamily_2;
                color: black;
            }
            @include breakpoint(max-mobile){
                margin-top: 30px;
                .nav-item{
                    margin-top: 10px;
                }
            }
        }
        .nav-item{
            line-height: 1.6rem;
        }
        &-toggler{
            font-size: 0.75rem;
            padding: 3px;
            border: none;
            .icon { color: $color_marron;}
        }
        &-collapse {
            @include breakpoint(tablet) {
                margin-bottom: -5px;
                margin-left: -15px;
                margin-right: -15px;
                background: white;
            }
        }
        &--brand{
            z-index: 2;
        }
    }
    &__link{
        font-family: $fontfamily_2;
        color: black;
        margin: 0 14px;
        &:hover{
            color: $color_marron;
            text-decoration: unset;
            @extend %transform;
        }
        line-height: 0.6rem;
    }
    &__button{
        border-right: 1px solid $color_marron;
        @include breakpoint(max-mobile){
            border-right:unset;
        }
        .header__link{
            border: 1px solid $color_marron;
            border-radius: 3px;
            padding: 10px 10px;
            white-space: nowrap;
        }
        
    }
}


.scroll {
    &-menu {
        //overflow: hidden;
        .header {
            @include breakpoint(max-mobile) { top: 0; position: sticky;}
            @include breakpoint(mobile) { top: 0; position: sticky;}
            @include breakpoint(tablet) {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 10;
            }
            
            &__logo--solo { 
                @include breakpoint(tablet) { display: block;}
            }
            &__logo{
                max-width: 120px;
            }
        }
        //.navbar-collapse { display: none;}
    }
}


