<section class="header container bk-color-white">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <a href="/components/preview/home.html" class="navbar--brand">
                <img src="../../../img/logo.png" class="header__logo img-full"/>
            </a>
            <div class="wrapper d-flex align-items-start">
                <button class="navbar-toggler d-sm-none mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon fas fa-phone"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icon fas fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav text-sm-center">
                    <li class="header__button">
                        <a class="header__link d-inline-block" href="#preferedclub">Visita la tienda Powertex</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#">Contactar</a>
                    </li>
                    <li class="nav-item">
                        <a class="header__link" href="#">Tf: +34 640 404 302</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>



