.footer{
    margin-bottom: 0px;
    &__logos{
        @include breakpoint(max-mobile){
            img{
                max-height: 120px;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &__social{
        .fab{
            color: #fff;
            font-size: .5rem;
            border: 1px solid #fff;
            border-radius: 20px;
            margin: 6px;
            width: 27px;
            height: 27px;
            line-height: 27px;
            text-align: center;
            &:hover{
                color: $color_1;
                border-color: $color_1;
            }
        }
    }
}
.motorMobile{
    display:none;
    @include breakpoint(max-mobile){
        display: fixed;
    }
    position: fixed;
    bottom: -50px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $color_1;
    color: white;
    text-align: center;
    text-transform: uppercase;
    .text{
        margin-bottom: 0;
    }
}