.header{
    @extend %transform;
    button.navbar-toggler{
        font-size: 0.75rem;
        padding: 3px;
    }
    &__logo{
        max-width: 150px;
    }
    .navbar-nav{
        .nav-link{
            font-family: $fontfamily_2;
            color: black;
        }
        @include breakpoint(max-mobile){
            margin-top: 30px;
            .nav-item{
                margin-top: 10px;
            }
        }
    }
    &__link{
        font-family: $fontfamily_2;
        color: black;
        margin: 0 14px;
        &:hover{
            color: $color_1;
            text-decoration: unset;
            @extend %transform;
        }
    }
    &__button{
        border-right: 1px solid $color_1;
        @include breakpoint(max-mobile){
            border-right:unset;
        }
        .header__link{
            border: 1px solid $color_1;
            border-radius: 3px;
            padding: 10px 10px;
        }
        
    }
}


.scroll {
    &-menu {
        .topbar {
            @include breakpoint(tablet-port) { display: none !important;}
        }
        .header {
            @include breakpoint(tablet-port) {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 10;
                background: white;
            }
            .navbar {
                @include breakpoint(tablet-port) { justify-content: space-between;}
                &--brand {
                    position: relative;
                    z-index: 11;
                }
                &-toggler {
                    @include breakpoint(tablet-port) { 
                        display: block;
                        position: relative;
                        z-index: 11;
                    
                    }
                }
                &-collapse {
                    @extend %transform;
                    @include breakpoint(tablet-port) {
                        padding-top: 5rem;
                        padding-bottom: 1rem;
                        position: fixed;
                        top: -100%;
                        left: 0;
                        background: white;
                        width: 100%;
                    }
                    &.show {
                        @include breakpoint(tablet-port) { top: 0;}
                    }
                }
                &-nav {
                    @include breakpoint(tablet-port) {
                        flex-direction: column;
                        width: 100%;
                    }
                }
            }
            .nav {
                &-item {
                    @include breakpoint(tablet-port) { 
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}