<section class="categorias-container container-fluid">
    <div class="categorias container">
        <div class="row">
            <div class="categorias__item col-12 col-sm-6 col-md-4 my-sm-auto">
                {{>@categorias-1 imagen="canotier00010"}}
            </div>
            <div class="categorias__item col-12 col-sm-6 col-md-4 my-sm-auto">
                {{>@categorias-1 imagen="canotier00011"}}
            </div>
            <div class="categorias__item col-12 col-sm-6 col-md-4 my-sm-auto">
                {{>@categorias-1 imagen="canotier00012"}}
            </div>
        </div>
    </div>
</section>