<section class="categorias-container container-fluid">
    <div class="categorias container">
        <div class="row">
            <div class="categorias__item col-12 col-sm-6 col-md-4 col-lg-3 my-1 my-sm-auto">
                {{>@categorias-2}}
            </div>
            <div class="categorias__item col-12 col-sm-6 col-md-4 col-lg-3 my-1 my-sm-auto">
                {{>@categorias-2}}
            </div>
            <div class="categorias__item col-12 col-sm-6 col-md-4 col-lg-3 my-1 my-sm-auto">
                {{>@categorias-2}}
            </div>
            <div class="categorias__item col-12 col-sm-6 col-md-4 col-lg-3 my-1 my-sm-auto">
                {{>@categorias-2}}
            </div>
        </div>
    </div>
</section>