.galeria-doble {
    height: 400px;
    .img-full{
        max-height: 400px;
    }
    &__home{
        .img-full{
            height: 400px;
        }
        .flickity-viewport{
            max-height: 400px;
        }
    }
}
