<section class="galeria-doble container-fluid mx-0" id="galeria">
    <div class="row">
        <div class="galeria-doble__home col-12 px-0">
            {{>@board_item-slider_simple imagen="galeria-1" custom_class="col-12 col-sm-6 pl-0"}}
            {{>@board_item-slider_simple imagen="galeria-2" custom_class="col-12 col-sm-6 pr-0"}}
            {{>@board_item-slider_simple imagen="galeria-1" custom_class="col-12 col-sm-6 pl-0"}}
            {{>@board_item-slider_simple imagen="galeria-2" custom_class="col-12 col-sm-6 pr-0"}}
            {{>@board_item-slider_simple imagen="galeria-1" custom_class="col-12 col-sm-6 pl-0"}}
            {{>@board_item-slider_simple imagen="galeria-2" custom_class="col-12 col-sm-6 pr-0"}}
        </div>
        <div class="col-12">
        	<h3 class="subtitle subtitle--regular--color1 text-center pt-2"> | GALERÍA DE FOTOS | </h3>
        </div>
    </div>
</section>