.cabecera1{
    height: 400px;
    .cabecera-imagen{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
.cabecera2{
    max-height: 390px;
    .cabecera-imagen{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
