<div class="titulo-sin-subtitulo-v2">
    <h1 class="title title--regular text-color--white">
        {{#if titulo}}
            {{titulo}}
        {{else}}
            Lorem ipsum dolor sit amet
        {{/if}}
    </h1>
</div>