<div class="titulo-con-subtitulo-v2">
    <h1 class="title title--regular">
        {{#if titulo}}
            {{titulo}}
        {{else}}
            Lorem ipsum dolor sit amet
        {{/if}}
    </h1>
    <p class="subtitle subtitle--regular--color2">
        {{#if subtitulo}}
            {{subtitulo}}
        {{else}}
            Lorem ipsum dolor sit amet
        {{/if}}
    </p>
</div>