.titulo-sin-subtitulo{
    .title{
        text-align: left;
        text-transform: uppercase;
    }
}
.titulo-sin-subtitulo-v2{
    .title{
        text-align: left;
        text-transform: uppercase;
        color:$color_marron;
    }
}