<div class="titulo-con-subtitulo-arriba">
    <p class="subtitle subtitle--regular text-color--white pb-0 mb-2 pt-4">
        {{#if subtitulo}}
            {{subtitulo}}
        {{else}}
            Lorem ipsum dolor sit amet
        {{/if}}
    </p>
    <h1 class="title title--regular text-color--white">
        {{#if titulo}}
            {{titulo}}
        {{else}}
            Lorem ipsum dolor sit amet
        {{/if}}
    </h1>
</div>