<div class="titulo-con-subtitulo-arriba-v2">
    <p class="subtitle subtitle--regular--color2 pb-0 pt-4">
        {{#if subtitulo}}
            {{subtitulo}}
        {{else}}
            Programa de Descuentos
        {{/if}}
    </p>
    <h1 class="title title--regular">
        {{#if titulo}}
            {{titulo}}
        {{else}}
            Queremos premiar tu fidelidad
        {{/if}}
    </h1>
</div>