.titulo-con-subtitulo{
    .title{
        text-align: left;
        text-transform: uppercase;
        color: $color_marron;
    }
    .subtitle{
        text-align: center;
        text-transform: initial;
        font-family: $fontfamily_2_bold;
    }
}

.titulo-con-subtitulo-v2{
    .title{
        text-align: center;
        text-transform: uppercase;
        color: $color_marron;
    }
    .subtitle{
        text-align: center;
        text-transform: uppercase;
        font-size:em(24);
        font-family: $fontfamily_2;
    }
}

.titulo-con-subtitulo-arriba{
    .title{
        text-transform: uppercase;
        color: $color_marron;
    }
    .subtitle{
        text-transform: uppercase;
        font-size:em(16);
        font-family: $fontfamily_2;
        color: $color_marron;
    }

}

.titulo-con-subtitulo-arriba-v2{
    .title{
        text-transform: uppercase;
        color: $color_marron;
        text-align: center;
    }
    .subtitle{
        text-transform: uppercase;
        font-size:em(15);
        color: $color_negro;
        margin-bottom: 0;
        text-align: center;
        font-family: $fontfamily_1;
    }

}

.titulo-con-subtitulo-arriba-v3{
    width: 100%;
    text-align: center;
    .title{
        text-transform: uppercase;
        color: $color_negro;
    }
    .subtitle{
        text-transform: uppercase;
        font-size:em(24);
        color: white;
        font-family: $fontfamily_2;
    }

}
