.text {
    @extend %transform;
    &.text {
        &--color {
            &--white { color: white;}
            &--gold { color: $color_6;}
            &--black { color: black;}
        }
        &--number { 
            font-size: 0.5rem;
            font-family: $fontfamily_2;
        }
        &--bold { font-family: $fontfamily_1;}
    }
}


.c-form {
    @extend %transform;
    background: rgba(black, 0.5);
    .form {
        &-control {
            @include border-radius(0);
            border: none;
            background: none;
            height: auto;
            line-height: 80%;
        }
    }
    &--input { border-right: 1px solid white;}
    &--text {
        .form {
            &-control {
                font-size: 0.5rem;
                border-bottom: 1px solid gray;
            }
        }
    }
}

.btn {
    &.btn {
        &--form { 
            background-color: $color_6;
            font-size: 0.5rem;
            color: black;
            padding: 1rem;
        }
    }
}

.slider {
    &__motor {
        @extend %transform;
    }
}

.scroll {
    &-menu {
        .c-form { background-color: white;}
        .slide {
            &__motor {
                @include breakpoint(tablet-port) {
                    position: fixed;
                    top: 0.5rem;
                    bottom: auto;
                    z-index: 10;
                    width: 70%;
                    left: 15%;
                }
            }
        }
        .text {
            &.text {
                &--number { display: none;}
                &--color {
                    &--white { color: gray;}
                }
            }
        }
    }
}