.texto-con-titulo{
    &__texto{
        line-height: 1.2rem;
        text-align: center;
        .text{
            font-family: $fontfamily_5;
            margin-bottom: 0;
        }
        
    }
    &__servicios{
        text-transform: uppercase;
        .text{
            font-family: $fontfamily_3;
            color: $color_2;
            font-size: 0.5rem;
        }
        .icon{
            width: auto;
            height: 10px;
            margin: 5px 5px 0 0;
        }
    }
}

.texto-con-titulo-v2{
    &__texto{
        line-height: 1.2rem;
        text-align: center;
        .text{
            font-family: $fontfamily_5;
        }
        
    }
    &__restaurantes{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_2;
            .text{
                font-family: $fontfamily_3;
                color: $color_2;
                font-size: 0.4rem;
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_2;
        }
    }
}

.texto-con-titulo-v3{
    width: 50%;
    margin-left: 50%;
    @include breakpoint(max-tablet){
        width: 100%;
        margin-left: 20px;
    }
    &__texto{
        line-height: 1.2rem;
        text-align: left;
        .text{
            font-family: $fontfamily_5;
        }   
    }
}

.texto-con-titulo-v4{
    width: 55%;
    margin: 0 auto;
    @include breakpoint(max-tablet){
        width: 100%;
        margin:0; 
        margin-left: 20px;
    }
    &__lista{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_2;
            @include breakpoint(max-tablet){
                border: unset;
            }
            .text{
                font-family: $fontfamily_3;
                color: $color_2;
                font-size: 0.4rem;
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_2;
            @include breakpoint(max-tablet){
                border: unset;
            }
        }
    }
}

.texto-con-titulo-v5{
    &__texto{
        line-height: 1.2rem;
        .text{
            font-family: $fontfamily_5;
        }
        
    }
    &__lista{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_2;
            .text{
                font-family: $fontfamily_3;
                color: $color_2;
                font-size: 0.4rem;
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_2;
        }
    }
}

.texto-con-titulo-v6{
    width: 100%;
    margin: 0 auto;
    @include breakpoint(max-tablet){
        width: 100%;
        margin-left: 20px;
    }
    &__texto{
        line-height: 1.2rem;
        text-align: left;
        .text{
            font-family: $fontfamily_5;
        }   
    }
}