<section class="galeria-restaurantes container">
    <div class="row">
        <div class="galeria-restaurantes__flickity col-12">
            {{>@board-imagen-text--v2 texto2="World Café" texto3="Buffet Internacional" clase_ancho="col-12 col-sm-3" imagen="restaurante-1"}}
            {{>@board-imagen-text--v2 texto2="Barefoot Grill" texto3="Especialidad en almuerzos ligeros" clase_ancho="col-12 col-sm-3" imagen="restaurante-2"}}
            {{>@board-imagen-text--v2 texto2="Piano Bar" texto3="Lounge Bar con música en directo" clase_ancho="col-12 col-sm-3" imagen="restaurante-3"}}
            {{>@board-imagen-text--v2 texto2="Sugar Reef" texto3="Beach Bar" clase_ancho="col-12 col-sm-3" imagen="restaurante-4"}}
            {{>@board-imagen-text--v2 texto2="World Café" texto3="Buffet Internacional" clase_ancho="col-12 col-sm-3" imagen="restaurante-1"}}
            {{>@board-imagen-text--v2 texto2="Barefoot Grill" texto3="Especialidad en almuerzos ligeros" clase_ancho="col-12 col-sm-3" imagen="restaurante-2"}}
            {{>@board-imagen-text--v2 texto2="Piano Bar" texto3="Lounge Bar con música en directo" clase_ancho="col-12 col-sm-3" imagen="restaurante-3"}}
            {{>@board-imagen-text--v2 texto2="Sugar Reef" texto3="Beach Bar" clase_ancho="col-12 col-sm-3" imagen="restaurante-4"}}
        </div>
    </div>
</section>