.galeria-restaurantes{
    &__flickity{
        .flickity-button{
            &.next{
                @include breakpoint(desktop){
                    right: -20px;
                }
            }
            &.previous{
                @include breakpoint(desktop){
                    left: -20px;
                }
            }
        }
    }
}