.producto-1{
    position: relative;
    height: 100%;
    overflow: hidden;
    @include breakpoint(max-mobile){
        height: 110px;
        display: flex;
        padding: 10px 0;
        margin: 5px 0;
    }
    .producto-imagen{
        height: 100%;
        @include breakpoint(max-mobile){
            width: 30%;
        }
        .cover{
            margin: 0 auto;
            display: block;
            width: 100%;
            object-fit: contain;
            max-height: 100%;
        }
    }
    .producto-vermas{
        display: block;
        position: absolute;
        bottom: -100px;
        .price{
            display: none;
        }
        @include breakpoint(max-mobile){
            position: relative;
            bottom: unset;
            width: 70%;
            padding-left: 13px;
            .viewmore{
                display:none;
            }
            .price{
                display: block;
                color: $color_marron;
                margin: 0;
                margin-bottom: 0;
            }
            &__nameproduct{
                margin-bottom: 0;
            }
        }
    }
    &:hover{
        .producto-vermas{
            @extend %transform;
        }
        @include breakpoint(mobile){
            .producto-vermas{
                background-color: $color_marron_60;
                display: block;
                width: 100%;
                position: absolute;
                bottom: 0px;
                .text{
                    width: 70%;
                    text-align: center;
                    margin: 0 auto;
                    display: block;
                    background-color: white;
                    border: 1px solid grayscale($color: #ebebeb);
                    border-radius: 3px;
                    margin-bottom: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &__nameproduct{
                    width: 90%;
                    text-align: center;
                    margin: 0 auto;
                    color: white;
                    display: block;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}



.product2{
.wrapper {
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
      .product-img img {
        border-radius: 7px 7px 0 0;
        height: 300px;
        object-fit: cover;
        cursor:pointer;
      }
      
      .product-info {
            /* float: left; */
        border-radius: 0 0 10px 10px;
        background-color: #fff;
        padding: 0 0 40px 0;
        border: 0px solid #dad4d0;
        border-width: 0 1px 1px;
        &__titulo{
          cursor:pointer;
        }
      }
      
      .product-text {
        
      }
      
      .product-text h1 {
        margin: 0 25px 0 25px;
        padding-top: 30px;
        font-size: 18px;
        color: #474747;
      }
      
      .product-text h1,
      .product-price-btn p {
        font-family: $fontfamily_1;
      }
      
      .product-text h2 {
        margin: 0 25px 17px 25px;
        font-size: 13px;
        font-family: $fontfamily_1;
        font-weight: 400;
        text-transform: uppercase;
        color: #d2d2d2;
        letter-spacing: 0.2em;
      }
      
      .product-text p {
        height: 100px;
        margin: 0 25px 0 25px;
        font-family: $fontfamily_1;
        color: #8d8d8d;
        line-height: 1.7em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
      }
      
      .product-price-btn {
        margin-top: 37px;
        position: relative;
      }
      
      .product-price-btn p {
        display: inline-block;
        position: absolute;
        top: -13px;
        height: 50px;
        font-family: $fontfamily_2;
        margin: 0 25px 0 25px;
        font-size: 28px;
        font-weight: lighter;
        color: #474747;
      }
      
      span {
        display: inline-block;
        height: 50px;
        font-family: $fontfamily_1;
        font-size: 34px;
      }
      
      .product-price-btn button {
        width: 126px;
        margin: 30px 25px 0 25px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 8px;
        padding: 7px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #fff;
        background-color: #7a6654;
        cursor: pointer;
        outline: none;
      }
      
      .product-price-btn button:hover {
        background-color: #79b0a1;
      }
  }
}
  