<div class="producto-1">
    <div class="producto-imagen">
        <img class="cover" src="../../../img/{{imagen}}"/>
    </div>
    <div class="producto-vermas">
        <p class="producto-vermas__nameproduct text--small text--xs--regular">Canotier de niño para...</p>
        <p class="text viewmore text--small">Mas Detalles</p>
        <p class="price text--bigger text--medium">3,64€</p>
    </div>
</div>