.slide{
    .img-full{
        height:80vh;
    }
    position: relative;
    &__texto{
        width: 100%;
        position: absolute;
        top: 0;
    }
    &__motor{
        width: 100%;
        position: absolute;
        bottom: 100px;
        .motor{
            width: 500px;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            @include breakpoint(max-mobile){
                display: none;
            }
        }
    }
    &__ventajas{
        max-height: 40px;
        line-height: 40px;
        background-color: $color_6; 
        text-transform: uppercase;
        .text{
            font-family: $fontfamily_3;
            color: white;
            font-size: 0.5rem;
        }
        .icon{
            width: auto;
            font-size: 12px;
            line-height: 39px;
            margin: 0 5px 0 0;
            color: white;
        }
        .texticon{
            margin: 0 5px 0 0;
            border: 1px solid white;
            border-radius: 10px;
            font-size: 10px;
            padding: 2px;
        }
    }
}