.habitaciones{
	&__texto{
		@include breakpoint(max-mobile){
			.text{
				text-align:justify;
			}
        }
	}
	&__img{
		height: 100%;
		@include breakpoint(desktop){
			max-height: 440px;
        }
	}
}
