.board-imagen-text{
    &__hover{
        .text--hover{
            opacity: 0;
            width: 100%;
            text-align: center;
            @extend %transform;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding:10px;
        }
        opacity: 0;
        position: absolute;
        top: 0;
        width:100%;
        height: 100%;
        text-align: center;
        background-color: $color_1;
        @extend %transform;
        &:hover{
            .text--hover{
                opacity: 1;
            }
            opacity: 1;
        }
    }
    &__texto{
        .fas{
            padding: 4px;
            font-size: 0.4rem;
        }
    }
}
.board-imagen-text-v2{
    &__texto{
        .title{
            text-transform: uppercase;
        }
        .text{
            font-size: 0.5rem;
            color: $color_2;
        }
    }
}