.motor-reservas{
    display: flex;
    z-index: 6;
	justify-content: center;
	width: 100%;
	position: fixed;
	top: 30vh;
    margin-bottom: 0;
    @extend %transform1s;
    .flex-column{
        flex-direction: column;
    }
    .d-sm-inline-flex{
        @include breakpoint(tablet){
            display: inline-flex;
        }
    }
    .mb-0{
        margin-bottom: 0px;
    }
    .flex-sm-row{
        @include breakpoint(tablet){
            flex-direction: row;
        }
    }
    .text-center{
		text-align: center;
	}
	.text{
		text-transform: uppercase;
    }
    &.top{
		top: 0;
		z-index: 2;	
		padding-top: 7.5rem;
		background: white;
		//@include breakpoint(tablet-port) { padding-top: 8.5rem;}
		&:before {
			@extend %after-before-bas;
			height: 1px;
			width: 100%;
			top: 7.25rem;
			left: 0;
			background: $color_4;
			//@include breakpoint(tablet-port) { top: 8.25rem;}
		}
		.motor-reservas__form{
			@extend %transform;
			width: 100%;
			max-width: 500px;
		}
	}
	&__mascara{
		max-width: 500px;
		width: 100%;
		@extend %transform;
		background-color: rgba(255, 255, 255, 0.98);
		border-radius: 5px;
		&.desplegado{
			border-radius: 0px;
			max-width: 100%;
			.motor-reservas__form{
				@extend %transform;
				width: 100%;
				max-width: 720px;
			}
		}
	}
	&__form{
		margin: 5px;
		max-width: 720px;
		/*background-color: rgba(39, 33, 88, 0.48);*/
		&-group{
			position: relative;
			@extend %transform1s;
			display: flex;
			justify-content: center;
		}
		&-field{
			align-items: center;
			position: relative;
			height: 100%;
			text-align: left;
			line-height: 2rem;
			cursor: pointer;
			flex-grow: 1;
			max-height: 2.66rem;
			flex-basis: 0;
			background-color: white;	
			margin: 5px;		
			padding: 5px 12px;
			.text{
				line-height: 2rem;
				font-weight: 600;
				color: blue;
			}
			.fas{
				cursor: pointer;
				float: right;
				line-height: 1.8rem;
			}
			input.form-control{
				font-size:0.8rem;
				height: 2rem;
				line-height: 2rem;
				text-align: center;
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
				border: none;
				-moz-border: none;
				-webkit-border: none;
			}
			label{
				width: 100%;
				color: $color_1;
				font-weight: 600;
			}
			&.btn{
				margin-bottom: 0;
			}
			&--button{
				text-transform: uppercase;
				text-align: center;
				p{
					color: white;
					margin-bottom: 0;
				}
			}
			>.field{
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			#MADG_promocode{
				background-color: transparent;
				color: white;
				&::placeholder{
					color: white;
				}
			}
		}
		&-popup{
			@extend %transform;
			padding: 5px 12px;
		    position: absolute;
		    width: 100%;
		    left: 0;
		    top: 100%;
		    opacity: 0;
		    visibility: hidden;
		    background-color: white;
		    z-index: 2;
		    height: 0;
		    &#eligehotelodestino{
				overflow-y:scroll;    
				p{
					color: white;
				}
		    }
			&.show{
				height: 210px;
				@extend %transform;
				opacity: 1;
				visibility: visible;
			}
			.fas{
				margin-right: 0.3rem;
				cursor: pointer;
				float: none;
				line-height: 1.8rem;
				color: $color_2;
			}
			&-eligenumeropersonas{  
				.row{
					align-items: center;
				}
				background-color: white;
				padding: 1rem;
				.selector{
					text-align: center;
					margin: 0.25rem 0 0.25rem 0.25rem;
				}
				.fas{
					border: 1px solid;
				    width: 20px;
				    height: 20px;
				    line-height: 20px;
				    border-radius: 5px;
				    margin: 0 10px;
				    color:#0d485c;
				}
				.residente{
					color: $color_2;
					font-size: 0.7rem;
				}
				#soyResidente {
				    float: left;
				    margin: 7px;
				}
			}
		}
	}
	.fa-info{
	    position: absolute;
	    right: 2px;
	    top: 9px;
	    border: 1px solid;
	    font-size: 0.6rem;
	    /* border-radius: 14px; */
	    width: 14px;
	    line-height: 12px;
	    text-align: center;
	    height: 14px;
    }
    &.hideBottomBar{
		
	}
	.closeButton{
		display: none;
	}
}

.menu-nav_scroll{
	.motor-reservas{
		&.top{
			top: 75px;
		}
	}
}


#eligehotelodestino{
	ul{
		list-style: none;
	}
}
#eligenumeropersonas{
	background-color: transparent;
	width: 335px;
	padding: 0;
	img {
	    height: 9px;
	    width: auto;
	    display: block;
	    object-fit: contain;
	    padding-left: 16px;
	    width: 43%;
	}
}
.daterangepicker{
	width: 680px!important;
	.drp-calendar{
		font-size: 0.79rem;
		font-family: $fontfamily_1;
		&.left{
			width: 50%!important;
			max-width: 50%!important;
		}
		&.right{
			width: 50%!important;
			max-width: 50%!important;			
		}
		.available{
			color: gray;
			border-radius: 0!important;
		    border-left: 0;
		    height: 35px!important;
		    width: 13px!important;
		    min-width: 13px!important;
		    font-weight: 600;
		    font-size: 0.8rem;
		    &.in-range{
			    font-weight: 600;
				font-size: 0.8rem;
				color:gray;
		    }
		    .start-date{
			
			}
		}
		.active{
			color: white;
			font-weight: 600;
			&.in-range{
				color: white;
			}
		}
		.disabled{
		    color: #c0c0c0;
		    cursor: not-allowed;
		    text-decoration: none;
		}	 
	}
	th.month {
	    text-transform: uppercase;
	    color: gray;
	    font-size:1.2rem;
	}
	.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    	color: $color_2!important;
    	border: solid $color_2!important;
    }
}
@media (max-width: 575px) {
	.daterangepicker .drp-calendar.left {
	    width: 100%!important;
	    max-width: 100% !important;
	}
	.daterangepicker .drp-calendar.right {
	    width: 100% !important;
	    max-width: 100% !important;
	}
	.daterangepicker {
	    position: fixed!important;
	    top: 0px!important;
	    right: 0!important;
	    left: 0!important;
	    display: block;
	    height: 100%!important;
	    width: 100%!important;
	}	
	.motor-reservas__mascara.desplegado {
	    align-items: center !important;
	    height: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    margin-right: -15px;
	}
	.motor-reservas.top {
	    top: 0px;
	    z-index: 6;
	    height: 100%;
	    position: fixed;
	}
	.motor-reservas__mascara {
	    background-color: rgba(39, 33, 88, 0.89);
	}
	.motor-reservas__form-field--button {
	    border: 1px solid white;
	}
	.motor-reservas .desplegado .closeButton{
		display: block;
	}
	.motor-reservas .closeButton i{
		font-size: 1.2rem;
		font-size: 2.3rem;
	    padding-top: 2rem;
	    padding-right: 0.133rem;
	    color: white;
	}
	.motor-reservas .closeButton p{
	    color: white;
	    font-size: 0.7rem;
	    line-height: 0.6rem;
	}
	#eligenumeropersonas{
		height: 330px;	
	}
	.menu-nav_scroll .motor-reservas.top{
		top:0px;
	}
}

.motorReservaMobile p {
	@include breakpoint(max-mobile){
		font-size: 1rem;
	    color: white;
	    font-weight: 600;
	    margin-bottom: 0;
	}
    
}
.motorReservaMobile {
	display: none;
	@include breakpoint(max-mobile){
		display: block;
	    text-align: center;
	    position: fixed;
	    bottom: 0px;
	    width: 100%;
	    z-index: 3;
	    padding: 0;
    }
}