.reservas {
    @extend %transform;
    position: fixed;
    bottom: 20%;
    @include breakpoint(big-screen){
        bottom: 30%;
    }
    @include breakpoint(max-desktop){
        bottom: 30%;
    }
    @include breakpoint(max-tablet){
        bottom: 40%;
    }
    @include breakpoint(max-mobile){
        bottom: 30%;
    }
    z-index: 10;
    width: 100%;
}

.text {
    @extend %transform;
    &.text {
        &--color {
            &--white { color: white;}
            &--gold { color: $color_6;}
            &--black { color: black;}
        }
        &--number { 
            font-size: 0.5rem;
            font-family: $fontfamily_2;
        }
        &--bold { font-family: $fontfamily_4;}
    }
}


.c-form {
    @extend %transform;
    background: rgba(black, 0.5);
    .form {
        &-control {
            @include border-radius(0);
            border: none;
            background: none;
            height: auto;
            line-height: 80%;
        }
    }
    &--input { 
        border-right: 1px solid white;
        @include breakpoint(max-tablet) {
            &.salida {
                border-right: 0px;
            }
        }
    }
    &--text {
        .form {
            &-control {
                font-size: 0.5rem;
                border-bottom: 1px solid gray;
            }
        }
    }
    .text--date{
        font-size: 0.45rem;
    }
}

.btn {
    &.btn {
        &--form { 
            background-color: $color_6;
            font-size: 0.5rem;
            color: black;
            padding: 1rem;
        }
    }
}


.scroll {
    &-menu {
        .form {
            &-group {
                @include breakpoint(tablet) {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                }
            }
        }
        .c-form { 
            @include breakpoint(tablet) {background-color: transparent;}
            .form {
                &-control {
                    @include breakpoint(tablet) {
                        padding-left: 0;
                        padding-right: 0;
                        border-bottom-color: white;
                    }
                    &.text {
                        @include breakpoint(tablet) { font-size: 0.6rem;}
                    }
                }
            }
            &--text {
                .form {
                    &-control {
                        &.text {
                            @include breakpoint(tablet) { 
                                padding-top: 0;
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
        .reservas {
            @extend %transform;
            bottom: 100%;
            @include breakpoint(tablet) {
                bottom: calc(100% - 55px);
                z-index: 10;
                width: 80%;
                left: 10%;
            }
        }
        .text {
            &.text {
                &--number { font-size: 0.4rem;}
                // &--color {
                //     &--white { color: gray;}
                // }
                &--bold {
                    @include breakpoint(tablet) { 
                        font-family: $fontfamily_3;
                        font-size: 0.4rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .btn {
            &.btn {
                &--form { padding: 0.5rem 0;}
            }
        }
    }
}

.daterangepicker:before, .daterangepicker:after{
	display: none!important;
}
.daterangepicker {
    width: 320px!important;
	@extend %transform1s;
    top: -274px!important;
    position: absolute!important;
    border: unset!important;
    left: 0px!important;
    margin-top: 0px!important;
    background-color: #fff;
	border-radius: 0px!important;
    color: $color_6;
    &.opensright.single.show-calendar{
	    right: 0!important;
    }
	.drp-calendar{
		font-size: 0.79rem;
		font-family: $fontfamily_1;
		&.left{
			width: 100%!important;
			max-width: 100%!important;
			padding: 8px 8px 8px 8px;
		}
		&.right{
			width: 100%!important;
			max-width: 100%!important;			
			padding: 8px 8px 8px 8px;
		}
		.available{
			border-radius: 0!important;
		    border-left: 0;
		    height: 35px!important;
		    width: 13px!important;
		    min-width: 13px!important;
		    font-weight: 600;
		    font-size: 1.2rem;
		    &.in-range{
			    font-weight: 600;
				font-size: 1.2rem;
		    }
		    .start-date{
			
			}
		}
		.active{
			color: white;
			font-weight: 600;
			&.in-range{
				color: white;
			}
		}
		.disabled{
		    color: #c0c0c0;
		    cursor: not-allowed;
		    text-decoration: none;
		}	 
	}
	th.month {
	    text-transform: uppercase;
	    color: gray;
	    font-size:1.2rem;
	}
	.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    	color: $color_2!important;
    	border: solid $color_2!important;
    }
}
.reservas__entrada{
    margin-bottom: 10px;
    margin-top: 5px;
}
.reservas__salida{
    margin-bottom: 10px;
    margin-top: 5px;
}
.text--date{
    margin-bottom: 4px;
    margin-top: 1px;
}
.scroll-menu {
    .daterangepicker {
        width: 320px!important;
        @extend %transform1s;
        top: 53px!important;
        position: absolute!important;
        border: unset!important;
        left: 0px!important;
        margin-top: 0px!important;
        background-color: #fff;
        border-radius: 0px!important;
        color: $color_6;
    }
    .reservas__entrada{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .reservas__salida{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .text--date{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .text--number{
        margin-top: 4px;
    }
}
.textdaterangepicker{
    display: none;
}
@media (max-width: 575px) {
	.daterangepicker .drp-calendar.left {
	    width: 100%!important;
		max-width: 100% !important;
        left:0px!important;
        padding: 8px 8px 8px 8px!important;
	}
	.daterangepicker .drp-calendar.right {
	    width: 100% !important;
	    max-width: 100% !important;
	}
	.daterangepicker {
	    position: fixed!important;
	    top: 0px!important;
	    right: 0!important;
	    left: 0px!important;
	    display: block;
	    height: 100%!important;
	    width: 100%!important;
    }	
    .textdaterangepicker{
        display: block;
        color: $color_1;
    }
}

.daterangepicker {
    background-color: rgba(0, 0, 0, 0.75)!important;
}
@media(max-width:575px){
	.daterangepicker {
        background-color: rgba(0, 0, 0, 0.75)!important;
        padding-top: 97px!important;
	}
	.motor-reservas__form-field.transparent {
		background-color: transparent;
		width: 41%;
	}
}
.daterangepicker .calendar-table {
    border: none!important;
    background-color: rgba(0, 0, 0, 0.75)!important;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: rgba(0, 0, 0, 0.75)!important;
}

.daterangepicker .drp-calendar .disabled {
    color: #8b7a76!important;
}

.daterangepicker .drp-calendar .active.in-range {
    font-size: 1.2rem!important;
    height: 25px!important;
    min-height: 25px!important;
    background-color: #d9c1b1!important;
}

.daterangepicker .drp-calendar .available {
    color: $color_6!important;
    font-size: 0.6rem!important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #dec9ba!important;
}

.daterangepicker td.in-range {
    background-color: rgba(228, 214, 203, 0.33)!important;
}

.daterangepicker .drp-calendar .available.in-range {
    color: white!important;
    font-size: 0.6rem!important;
}

td.active.start-date.available {
    color: #ffffff!important;
}
.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: transparent!important;
}
.daterangepicker th.month {
    text-transform: uppercase;
	color: #ece1da;

}
.daterangepicker.opensleft:before, .daterangepicker.opensleft:after{
	display: none!important;
}
.reservas .daterangepicker .calendar-table .next span, .reservas .daterangepicker .calendar-table .prev span{
	border: solid white;
	border-width: 0 2px 2px 0;
}
i.fas.adultos {
    padding: 0 14px;
}
.daterangepicker .calendar-table tr:nth-of-type(2) {
    color: white;
}

.c-form-promo{     
    .text {
        margin-bottom: 0;
    }
}

.c-form-promo__bar {
    background-color: #c2a966;
}
.scroll-menu .c-form-promo{
    display: none!important;
}