<div class="reservas">
    <div class="c-form-promo col-8 col-md-10 col-lg-8 px-0 mx-auto pb-2 pb-md-0 d-none d-sm-block">
        <div class="c-form-promo__bar col-8 col-lg-6 pl-1 px-0">
            <p class="text">Promoción de apertura del 30% de descuento</p>
        </div>
    </div>
    <div class="c-form col-8 mx-auto pb-2 pb-md-0 col-md-10 col-lg-8">
        <form action="https://reservas.secretsresorts.es/bookcore/v1/search-dispo.htm" method="POST" class="c-form row align-items-center">
            <div class="form-group mb-0 col-6 col-md-2 c-form--input entrada text-center pb-1 pb-lg-0">
                <label for="" class="text text--color--white text-uppercase mb-0 text--number entrada">llegada</label>
                <p type="text" class="reservas__entrada form-control text text--color--gold text--bold text-uppercase text-center py-0"><span></span></p>
                <p class="text text--color--white text--bold text--date entrada"><span class="mes"></span>&nbsp;<span class="anio"></span></p>
            </div>
            <input type="hidden" name="arrival" id="MADG_fechaIn"/>
            <div class="form-group mb-0 col-6 col-md-2 c-form--input salida text-center pb-1 pb-lg-0">
                <label for="" class="text text--color--white text-uppercase mb-0 text--number salida">salida</label>
                <p type="text" class="reservas__salida form-control text text--color--gold text--bold text-uppercase text-center py-0"><span></span></p>
                <p class="text text--color--white text--bold text--date salida"><span class="mes"></span>&nbsp;<span class="anio"></span></p>
            </div>
			<input type="hidden" name="departure" id="MADG_fechaOut"/>            
            <div class="form-group mb-0 col-12 col-md-4 c-form--text text-center">
                <label for="" class="sr-only">Promo code</label>
                <input type="text" class="form-control text text--color--gold text-uppercase text-center" placeholder="code" name="promocode">
            </div>
            <div class="form-group mb-0 col-12 col-md-4 c-form--action text-center">
                <input type="submit" class="form-control btn btn--form text-uppercase text-center" placeholder="ver disponibilidad">
            </div>
        </form>
    </div>
</div>