<div class="lista-productos container">
    <p class="lista-productos title--regular ml-2 mb-1 pt-1">
        Canotiers mas vendidos<span class="link-see-more">Ver todos</span>
    </p>
    <ul class="lista-productos__listado list-unstyled">
        <li class="lista-productos__producto my-auto">
            {{>@producto-1 imagen="canotier00026.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00027.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00028.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00029.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00030.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00031.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00032.jpg"}}
        </li>
        <li class="lista-productos__producto">
            {{>@producto-1 imagen="canotier00025.jpg"}}
        </li>
    </ul>
</div>
