.lista-productos{
    background-color: white;
    max-height: 300px;
    @include breakpoint(max-mobile){
        max-height: unset;
    }
    &__title{
        font-size: em(18);
    }
    &__producto{
        width: 20%;
        height: 100%;
        @include breakpoint(max-desktop){
            width: 40%;
        }
        @include breakpoint(max-mobile){
            width: 100%;
        }
    }
    &__listado{
        height: 200px;
        @include breakpoint(max-mobile){
            height: unset;
            padding: 0;
        }
        &:after{
            content: 'flickity';
            display: none;
            @include breakpoint(max-mobile){
                content: " ";
            }
        }
    }
}
