<section class="topbar d-none d-sm-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5 col-sm-12 text-sm-center py-sm-1 col-md-5 text-md-left">
                <h1 class="topbar__link">Visitar la web oficial de secrets resort</h1>
            </div>
            <div class="topbar__right col-7 col-sm-12 d-sm-flex justify-content-end col-md-7">
                <p class="btn-solid--black mr-2">MI RESERVA</p>
                <p class="topbar__phone mr-2"<i class="fas fa-phone">+34 971 466 711</i></p>
                {{> @topbar-leguage custom_class="list-unstyle list-inline d-sm-flex"}}
            </div>
        </div>
    </div>
</section>