.topbar{
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: $color_1;
    margin-bottom: 0px;
    line-height: 40px;
    font-size: 0.5rem;
    @include breakpoint(mobile) { height: auto;}
    @include breakpoint(tablet-port) {
        position: relative;
        z-index: 12;
    }
    &__phone { white-space: nowrap;}
    &__link{
        margin-bottom: 0;
        color: white;
        font-family: $fontfamily_3;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 0.5rem;
        line-height: 0.9rem;
    }
    &__right{
        ul,
        p{ margin-bottom: 0px;}
    }
    &__language {
        @include breakpoint(big-screen) { 
            position: relative;
            overflow: hidden;
            flex-flow: column; 
            margin-right: -15px;
            padding-right: 30px;
        }
        &:hover {
            @include breakpoint(tablet-port) {
                margin-bottom: -5rem;
                height: 5rem;
                overflow: visible;
            }
            .icon {
                @include breakpoint(big-screen) { color: $color_1;}
            }
            .topbar {
                &__language {
                    &--list {
                        @include breakpoint(tablet-port) { height: auto;}
                        li {
                            @include breakpoint(big-screen) { color: $color_1;}
                        }
                        .icon {
                            @include breakpoint(big-screen) { transform: rotate(180deg);}
                        }
                    }
                }
            }
        }
        .icon {
            @extend %transform;
            @include breakpoint(big-screen) { color: white;}
        }
        .list-inline-item {
            @include breakpoint(big-screen) {
                background: black;
                padding-left: 0.5rem;
            }
        }
        &--list { 
            list-style: none;
            cursor: pointer;
            @include breakpoint(big-screen) {
                position: absolute;
                background: black;
                right: 0;
            }
            li {
                @extend %transform;
                @include breakpoint(big-screen) { color: white;}
            }
            .icon {
                @extend %transform;
                @include breakpoint(big-screen) {
                    top: 0.5rem;
                    right: 0.5rem;
                }
            }
        }
    }
}

.navbar {
    .topbar {
        &__language {
            @extend %transform;
            position: relative;
            padding-right: 0.5rem;
            &:hover {
                padding-right: 1.5rem;
                .topbar {
                    &__language {
                        &--list { 
                            width: auto;
                            overflow: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            * { color: $color_1;}
            &--list {
                @extend %transform;
                padding-left: 0;
                margin-bottom: 0;
                position: absolute;
                top: -0.2rem;
                right: 0;
                height: 100%;
                overflow: hidden;
                width: 0;
                opacity: 0;
            }
            &--idioma {
                background: white;
                padding: 0.3rem;
                text-align: center;
                margin-top: -1px;
            }
            .list-inline-item { 
                margin: 0;
                font-size: 0.7rem;
            }
        }
    }
}
.scroll-menu .topbar {
    display: none!important;
}