<section class="ofertas container mt-2" id="ofertas">
    <div class="row">
        <div class="col-4">
            {{>@board-imagen-mas-texto texto="Haz tus compras en Artipistilos, obtendrás descuentos con todos los productos." number="1"}}
        </div>
        <div class="col-4">
            {{>@board-imagen-mas-texto texto="Usa tu descuento en tu próxima compra desde la confirmación del pedido." number="2"}}
        </div>
        <div class="col-4">
            {{>@board-imagen-mas-texto texto="Con tu segunda compra, vuelves a acumular mas descuentos para las siguientes." number="3"}}
        </div>
    </div>
</section>