.footer{
    background-color:white;
    margin-bottom: 0px;
    &__logos{
        &-general{
            max-width: 400px;
            @include breakpoint(max-mobile){
                max-width: 300px;
                width: 100%;
                object-fit: contain;
            }
        }
        &-container{
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item{
            max-width: 160px;
            min-width: 160px;
            img{
                @include breakpoint(max-mobile){
                    max-width: 120px;
                    object-fit: cover;
                    margin: 0 auto;
                    display: block;
                }   
            }    
        }
    }

    &__social{
        .fab{
            color: $color_marron;
            border: 1px solid $color_marron;
            border-radius: 20px;
            margin: 6px 20px;
            width: 40px;
            font-size: 1rem;
            height: 40px;
            line-height: 40px;
            text-align: center;
            &:hover{
                color: $color_marron;
                border-color: $color_marron;
            }
        }
    }
    &__description{
        &-derecha{
            overflow: hidden;
            .text{
                font-size: 0.4rem;
            }
        }
        @include breakpoint(tablet-port){
            max-width: 80%;
        }
        .footer__logos{
            max-width: 300px;
        }
    }
    &__legal{
        @include breakpoint(max-mobile){
            margin: 10px 0px;
        }
        margin-bottom:0;
        &--item{
            .text{
                font-family: $fontfamily_1;
                margin-bottom: 0;
                text-align: center;
                color: white;
                line-height: 60px;
            }
        }
    }
    &__copyright{
        p{
            font-family: $fontfamily_1;
            margin-bottom: 0;
            color: white;
            line-height: 60px;
        }
    }
    &-bottom{
        height: 60px;
        background-color: $color_marron;
    }
}
.irALaTienda{
    display:none;
}
.scroll-menu .irALaTienda{
    @include breakpoint(max-mobile){
        display: block;
    }
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $color_marron;
    color: white;
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
    .text{
        line-height: 50px;
        margin-bottom: 0;
    }
}