<section class="footer bk-color2 mx-0 pt-4" id="footer">
    <div class="line-separator"></div>
    <div class="container px-md-5 px-sm-1">
        <div class="row mx-0">
            <div class="footer__description col-12 col-md-5 col-sm-6 ">
                <img class="footer__logos" src="../../../img/distribuidor-oficial.jpg" />
                <div class="footer__social d-flex flex-row">
                    <i class="fab fa-facebook-f text-color--color1"></i>
                    <i class="fab fa-twitter text-color--color1"></i>
                    <i class="fab fa-instagram text-color--color1"></i>
                </div>
            </div>
            <div class="footer__description-derecha col-12 col-sm-6 offset-md-2 col-md-5">
                <div class="col-12 col-sm-12 p-0">
                    <p class="text--regular text-color--color1 mb-1">Powertex España</p>
                    <p class="text--regular text-color--color1 mb-1">Avda. Comunidad de Galicia, parcela 68</p>
                    <p class="text--regular text-color--color1 mb-1">13610 - Campo de Criptana</p>
                    <p class="text--regular text-color--color1 mb-1">(Ciudad Real) - Spain</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom container-fluid">
        <div class="row mt-4">
            <div class="footer__copyright col-12 col-sm-6 mx-auto">
                <p class="text-color--color1 text-center mb-0">© Powertex 2019. Todos los derechos reservados</p>
            </div>
            <div class="footer__legal col-12 col-sm-6 mx-auto">
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    <div class="d-flex justify-content-center px-1 footer__legal--item">
                        <p class="text text-color--color1">Contacto</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 footer__legal--item">
                        <p class="text text-color--color1">Aviso Legal</p>
                    </div>
                    <div class="d-flex justify-content-center px-1 footer__legal--item">
                        <p class="text text-color--color1">Políticas de cookies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="irALaTienda">
    <p class="text">Visitar Tienda Oficial</p>
</div>