<section class="slide container-fluid mx-0 px-0 mt-4 mt-sm-0">
    <img class="img-full" src="../../../img/slide-1.png"/>
    {{!--<div class="slide__texto">
        {{>@titulo-con-subtitulo-arriba--v3 titulo="El secreto de la felicidad" subtitulo="Reserva ahora tus vacaciones y descubre"}}
    </div>--}}
    <div class="slide__ventajas d-flex align-items-center justify-content-md-center">
        <p class="text text-color--white mb-0 col-auto"><i class="icon far fa-star"></i>Mejor precio online</p>
        <p class="text text-color--white mb-0 col-auto"><i class="icon far fa-bookmark"></i>Late Check-Out (Consultar)</p>
        <p class="text text-color--white mb-0 col-auto"><i class="icon fas fa-heart"></i>Ofertas Exclusivas</p>
        <p class="text text-color--white mb-0 col-auto"><i class="icon fas fa-wifi"></i>Wifi Gratis</p>
        <p class="text text-color--white mb-0 col-auto"><span class="texticon">16</span> Hotel Solo adultos</p>
    </div>
</section>