<div class="nav container">
    <div class="d-flex flex-wrap flex-row justify-content-center">
        <p class="nav__item text text--regular">Powertex Categoria 1</p>
        <p class="nav__item text text--regular">Powertex Categoria 2</p>
        <p class="nav__item text text--regular">Powertex Categoria 3</p>
        <p class="nav__item text text--regular">Powertex Categoria 4</p>
        <p class="nav__item text text--regular">Powertex Categoria 5</p>
        <p class="nav__item text text--regular">Powertex Categoria 6</p>
        <p class="nav__item text text--regular">Powertex Categoria 7</p>
        <p class="nav__item text text--regular">Powertex Categoria 8</p>
        <p class="nav__item text text--regular">Powertex Categoria 9</p>
        <p class="nav__item text text--regular">Powertex Categoria 10</p>
        <p class="nav__item text text--regular">Powertex Categoria 11</p>
    </div>
</div>