.nav{
    &__item{
        @extend %transform;
        margin: 10px 5px;
        padding: 5px 7px;
        border: 1px solid $color_marron;
        border-radius: 3px;
        &:hover{
            background-color: $color_marron;
            color: white;
        }
    }
}