{{>@menuhead}}
{{>@cabecera-1}}
{{>@texto-con-titulo--v4 clase_ancho="container" texto2="Hoy en día existen canotiers de todos los estilos. Sombreros Canotiers con flores, Canotier de copa baja o, incluso, de ala ancha. Los canotiers para bodas son el complemento ideal para ser la invitada perfecta. ¡Descubre el tuyo!" texto="Los canotiers son sombreros de paja de copa recta y ala corta que se han convertido en un imprescindible para cualquier evento. Estos tienen mucha historia. Ya en el siglo XIX los utilizaban los gondoleros en Venecia, aunque su nombre proviene de la expresión francesa “du canotaje”, haciendo referencia a la exaltación de la navegación."}}
{{>@lista-categorias-1}}
{{>@texto-con-titulo clase_ancho="container" titulo="Sombreros canotiers mas vendidos esta temporada" texto="Además de protegerte del sol dan un toque de distinción y sofisticación a tu outfit. Aquí puedes ver los canotiers online que más se venden y escoger el que mejor se adapte a tus necesidades:"}}
{{>@lista-productos-1}}
{{>@texto-con-titulo clase_ancho="container" texto="Ya en la primera mitad del siglo XX eran las clases sociales más altas las que usaban estos sombreros para protegerse del sol en verano. Pero quien popularizó y aportó ese toque chic al canotier fue la mismísima Coco Chanel. Ella lo encumbró como uno de los símbolos de liberación de la nueva mujer. "}}
{{>@lista-categorias-2}}
{{>@texto-con-titulo clase_ancho="container" titulo="Sombreros Canotiers con Complementos" texto="Tanto el canotier como cualquier tocado se puede personalizar y adaptar a cualquier época del año. En Artipistilos disponemos de multitud de artículos para tus tocados, como flores de porcelana, bases de sinamay, casquetes de fieltro…" texto2="Los canotiers son muy versátiles y aceptan todo tipo de decoraciones. Puedes agregarle tanto un pequeño velo de novia como una dalia de tela o, incluso, flecos de plumas de gallo. Elige el complemento que mejor acompañe a tu sombrero canotier:"}}
{{>@lista-categorias-3}}
<div class="space-20"></div>
{{>@footer}}