<section class="informacion-restaurantes container" id="restaurantes">
    <div class="row">
        {{>@texto-con-titulo--v2 titulo="Restaurantes" subtitulo="Una variada oferta gastronómica"}}
    </div>
</section>