<section class="{{custom_class}} newsletter container-fluid mx-0 px-0 mb-0">
    <img class="img-full" src="../../../img/newsletter.png"/>
    <div class="newsletter__texto w-100">
        <div class="container">
            <div class="row">
                {{>@texto-con-titulo--v6 titulo="Newsletter" texto="Suscríbete a nuestro boletín de noticias y recibe directamente en tu buzón nuestras mejores ofertas y promociones." clase_ancho="col-12 col-sm-4"}}
                {{>@input-form clase_ancho="col-12 col-sm-5"}}
            </div>
        </div>
    </div>
</section>