<section class="servicios-con-imagen container" id="servicios">
    <div class="row">
        {{>@texto-con-titulo--v5 clase_ancho="col-12 col-sm-6" titulo="Servicios Secrets" subtitulo="Excelentes servicios e instalaciones" texto="Secrets Mallorca Villamil Resort & Spa proporciona un servicio e instalaciones excelentes, todas en el mismo lugar para disfrutar una experiencia majestuosa. Sumérgete en nuestra piscina centelleante, haz ejercicio en nuestro gimnasio totalmente equipado o disfruta de actividades culturales y espectáculos a cargo de nuestro equipo interactivo de actividades y espectáculos."}}
        <div class="carousel col-12 col-sm-6 px-0 px-sm-auto pt-sm-auto pt-4">
            <img class="img-full" data-flickity-lazyload="../../../img/servicios-imagenderecha.jpg"/>
            <img class="img-full" data-flickity-lazyload="../../../img/servicios-imagenderecha.jpg"/>
            <img class="img-full" data-flickity-lazyload="../../../img/servicios-imagenderecha.jpg"/>
            <img class="img-full" data-flickity-lazyload="../../../img/servicios-imagenderecha.jpg"/>
            <img class="img-full" data-flickity-lazyload="../../../img/servicios-imagenderecha.jpg"/>
        </div>
    </div>
</section>