.servicios-con-imagen{
    .carousel{
        .img-full{
            height: 400px;
            @include breakpoint(mobile){
                height: 100%;
                object-fit: cover;
            }
        }
        .flickity-viewport{
            height: 400px;
            @include breakpoint(mobile){
                height: 100%!important;
            }
        }
    }
}