.newsletter{
    .img-full{
        min-height:250px;
        @include breakpoint(max-mobile){
            min-height: 380px;
        }
    }
    position:relative;
    &__texto{
        position:absolute;
        top: 50px;
        left: 0;
        @include breakpoint(max-mobile){
            padding: 0 20px;
        }
    }
}