.wellnessandspa{
    position: relative;
    .img-full{
        @include breakpoint(max-desktop){
            min-height: 600px;
        }
    }
    &__text{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        .texto-con-titulo-v3{
            @include breakpoint(max-mobile){
                margin-left: 0;
                padding: 0 10px;
            }
        }
    }
}