<section class="wellnessandspa container-fluid mx-0 px-0" id="wellnessandspa">
    <img class="img-full" src="../../../img/wellnessandspa.jpg"/>
    <div class="wellnessandspa__text">
        {{>@texto-con-titulo--v3 titulo="Wellness & Spa" texto="Sumérgete en la relajación más pura en el Secrets Spa, donde podrás disfrutar de un ambiente sublime de indulgencia rodeado de vistas impresionantes. Ofrece docenas de tratamientos con los que puedes experimentar la verdadera tranquilidad con una gran variedad de técnicas."}}
    </div>
</section>