<div class="board-imagen-mas-texto">
    <img class="board-imagen-mas-texto__imagen" src=""/>
    <div class="board-imagen-mas-texto__texto">
        <p class="text--regular text-center"><span class="text--bold number--bold number--extrabig text-center float-left w-100">{{number}}</span>{{texto}}</p>
    </div>
</div>
