/*
 * PS Override
 *
 */


 /*************/
 $color_azul:#001633;//Azul Oscuro
 $color_azul_60:rgba(0, 22, 51, 0.6);//Azul Oscuro
 $color_negro:#021631;//Negro
 $color_rojo:#fb7377;//Rojo-rosa
 $color_amarillo:#fdcc40;//Rojo-rosa
 $color_marron:#706558;//Rojo-rosa
 $color_marron_60:rgba(112, 101, 88, 0.6);//Rojo-rosa
 $color_hover_primary:#fb7377;
 $color_hover_secondary:#3e597e;
 $color_hover_terciary:#001633;
/*************/

 /*************/
 /* FUENTES */
 $fontfamily_1: 'Lato-Regular';
 $fontfamily_1_medium:'Lato-Regular';
 $fontfamily_1_light:'Lato-Light';
 $fontfamily_1_bold:'Lato-Bold';
 $fontfamily_2: 'Oswald';
 $fontfamily_2_light: 'Oswald-Light';
 $fontfamily_2_bold: 'Oswald-Bold';
/*************/



.bk-color1{
    background-color: $color_azul;
}
.bk-color2{
    background-color: $color_negro;
}
.bk-color3{
    background-color: $color_rojo;
}

%general_shadow {
	box-shadow: 7px 7px 20px 0px rgba(50, 50, 50, 0.32);
	&:hover { box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5);}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%transform1s {
	transform: transition;
	transition-duration: 1s;
}

%after-before-bas {
	position: absolute;
	content: " ";
}

@mixin linear-gradient($from, $to) {
	background: $to;
	  background: -moz-linear-gradient(top, $from 0%, $to 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	  background: -o-linear-gradient(top, $from 0%,$to 100%);
	  background: linear-gradient(to bottom, $from 0%,$to 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }

@mixin breakpoint($point) {
	@if $point == mobile {
	  @media (min-width: 577px) { @content ; }
   }
	@else if $point == tablet {
	  @media (min-width: 768px) { @content ; }
   }
	 @else if $point == tablet-port {
	  @media (min-width: 992px) { @content ; }
   }
	@else if $point == desktop {
	  @media (min-width: 1115px)  { @content ; }
   }
   @else if $point == big-screen {
	  @media (min-width: 1200px)  { @content ; }
   }
    @else if $point == max-mobile {
        @media (max-width: 576px)  { @content ; }
    }
    @else if $point == max-tablet {
        @media (max-width: 768px)  { @content ; }
     }
     @else if $point == max-desktop {
        @media (max-width: 992px)  { @content ; }
     }
     @else if $point == max-bigger {
        @media (max-width: 1200px)  { @content ; }
     }
 }
 
 $browser-context: 16; // Default

 @function em($pixels, $context: $browser-context) {
   @return #{$pixels/$context}rem;
 }


 html {
	font-family: $fontfamily_2;
	font-size: em(20);
    overflow-x: hidden;
    color: $color_negro;
    p, li{
        font-family: $fontfamily_2;
        font-size: em(16);
        line-height: em(21);
    }
 }

.img-full{
    width: 100%;
    &--circle{
        border-radius: 50%;
    }
    &.mh100{
        max-height: 100px;
    }
    &.mh200{
        max-height: 200px;
    }
}
.img-center{
    display: block;
    margin: 0 auto;
}

/* Botones */


.line-separator {
    height: 1px;
    background-color: #565656;
    margin-top: 20px;
    margin-bottom: 20px;
}



.text{
    &--regular{
        font-family: $fontfamily_1;
    }
    &--bold{
        font-family: $fontfamily_1_bold;
    }
    &--light{
        font-family: $fontfamily_1_light;
    }
    &--medium{
        font-family: $fontfamily_1_medium;
    }
    &--align-left{
        text-align: left;
    }
    &--align-right{
        text-align: right;
    }
    &--align-center{
        text-align: center;
    }
    &--small{
        font-size: em(10);
    }
    &--bigger{
        font-size: em(16);
    }
    &--xs--regular{
        font-size: em(14);
    }
}

.title{
    &--regular{
        font-family: $fontfamily_1;
    }
    &--bold{
        font-family: $fontfamily_2_bold;
    }
    &--light{
        font-family: $fontfamily_2_light;
    }
    &--regular{
        font-family: $fontfamily_2;
    }
}

.number{
    &--bold{
        font-family: $fontfamily_1_bold;
    }
    &--extrabig{
        font-size: em(45);
    }
}

.link-see-more{
    font-size: em(10);
    color: $color_rojo;
    font-weight: 600;
    margin-left: em(15);
    &:hover{
        color: $color_amarillo;
        text-decoration: underline;
        cursor: pointer;
    }
}

.space-20{
    height: 20px;
}

.flickity-prev-next-button {
    height: 100px;
    width: 40px;
    border-radius: 2%;
    background: rgba(255, 255, 255, 0.89);
    &.next {
        right: -10px;
    }
    &.previous{
        left: -10px;
    }
}
.list-unstyled {
    list-style: none;
}
.link-unstyled {
    text-decoration: unset;
    color: unset;
}
.videos-v1__enlace iframe{
    max-width:100%;
}