.preferredclub{
    position: relative;
    .img-full{
        @include breakpoint(max-desktop){
            min-height: 600px;
        }
    }
    
    &__text{
        @include breakpoint(max-mobile){
            .texto-con-titulo-v4 {
                margin-left: 0;
                padding: 20px;
            }
        }
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
    }
}