<section class="{{custom_class}} preferredclub container-fluid mx-0 px-0" id="preferedclub">
    <img class="img-full" src="../../../img/preferedclub.jpg"/>
    <div class="preferredclub__text">
        {{>@texto-con-titulo--v4 titulo="Preferred club" subtitulo="Disfruta de la exclusividad máxima" clase_ancho="" texto="Disfruta de servicios exclusivos: Check-in/Check-out personalizados - Alojamiento en las zonas más exclusivas 
- Zona reservada en el restaurante World Café - Solarium privado - Servicio de mayordomo - y mucho más (consulta más en la recepción del hotel)"}}
    </div>
</section>