<div class="categoria-v1">
    <div class="categoria-v1__titulo">
        <a class="link-unstyled" href="#">
            <h2 class="text--medium pb-0 mb-0 mt-1">
                Canotiers de paja
            </h2>
        </a>
    </div>
    <div class="categoria-v1__cajon">
        <div class="categoria-v1__imagen p-1">
            <img class="img-full" src="../../../img/{{imagen}}.jpg"/>
        </div>
    </div>
    <div class="categoria-v1__texto">
        <p class="text text--regular pb-0 mb-0">
            Canotier infantil, Canotier de fibra vegetal, Canotier de raffia...
        </p>
    </div>
    <div class="categoria-v1__enlace pt-2">
        <p class="title--semibold pb-0 mb-0">
            Ver mas
        </p>
    </div>
</div>