.categoria{
    &-v1{
        height: 400px;
        position: relative;
        background-color: #fff;
        padding: 10px;
        &__titulo{
            margin-bottom: em(10);
            h2{
                font-size: 20px!important;
            }
            &:hover{
                color:$color_marron;
            }
        }
        &__texto{
            .text{
                font-size: em(12);
            }
        }
        &__cajon{
            height: 200px;
            margin-bottom: 8px;
        }
        &__enlace{
            position:absolute;
            bottom: 0;
            font-size: em(12);
            color:$color_amarillo;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover{
                color: $color_marron;
            }          
        }
        &__imagen{
            position: relative;
            height: 100%;
            .img-full{
                width: 100%;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
    &-v2{
        height: 400px;
        position: relative;
        background-color: white;
        padding: 10px;
        &__titulo{
            margin-bottom: em(10);
            h2{
                font-size: 20px!important;
            }
            &:hover{
                color:$color_marron;
            }
        }
        &__cajon{
            height: 200px;
            margin-bottom: 8px;
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -webkit-justify-content: center;
            justify-content: center;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
            &--item{
                height: 100px;
                .img-full{
                    width: 99%;
                    /* position: absolute; */
                    /* margin: auto; */
                    /* top: 0; */
                    /* right: 0; */
                    /* bottom: 0; */
                    /* left: 0; */
                    /* max-width: 100%; */
                    height: 100%;
                    -o-object-fit: contain;
                    object-fit: contain;
                    cursor: pointer;
                }
            }
        }
        &__texto{
            .text{
                font-size: em(12);
            }
        }
        &__enlace{
            position:absolute;
            bottom: 0;
            font-size: em(12);
            color:$color_amarillo;
            margin-bottom: 20px;  
            cursor: pointer;
            &:hover{
                color: $color_marron;
            }          
        }
        &__imagen{
            position: relative;
            height: 100%;
            .img-full{
                width: 100%;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }
}