<div class="categoria-v2">
    <div class="categoria-v2__titulo">
        <a class="link-unstyled" href="#">
            <h2 class="text--medium pb-0 mb-0 mt-1">
                Otras categorías
            </h2>
        </a>
    </div>
    <div class="mx-0 categoria-v2__cajon">
        <div class="categoria-v2__cajon--item col-6 p-2">
            <img class="img-full" src="../../../img/canotier00033.jpg"/>
        </div>
        <div class="categoria-v2__cajon--item col-6 p-2">
            <img class="img-full" src="../../../img/canotier00034.jpg"/>
        </div>
        <div class="categoria-v2__cajon--item col-6 p-2">
            <img class="img-full" src="../../../img/canotier00035.jpg"/>
        </div>
        <div class="categoria-v2__cajon--item col-6 p-2">
            <img class="img-full" src="../../../img/canotier00036.jpg"/>
        </div>
    </div>
    <div class="categoria-v2__texto">
        <p class="text text--regular pb-0 mb-0">
            Canotier infantil, Canotier de fibra vegetal, Canotier de raffia...
        </p>
    </div>
    <div class="categoria-v2__enlace pt-2">
        <p class="title--semibold pb-0 mb-0">
            Ver mas
        </p>
    </div>
</div>