<div class="texto-con-titulo container pt-5">
    <div class="row">
        <div class="col-12">
            {{>@titulo-con-subtitulo}}
            <div class="texto-con-titulo__texto">
                <p class="text--regular">{{texto}}</p>
                <p class="text--regular">{{texto2}}</p>
            </div>
        </div>
    </div>
</div>