.texto-con-titulo{
    &__texto{
        line-height: 1.2rem;
        .text{
            font-family: $fontfamily_2_bold;
            margin-bottom: 0;
        }
        
    }
    &__servicios{
        text-transform: uppercase;
        .text{
            font-family: $fontfamily_2;
            color: $color_marron;
            font-size: em(20);
        }
        .icon{
            width: auto;
            height: 10px;
            margin: 5px 5px 0 0;
        }
    }
}

.texto-con-titulo-v2{
    &__texto{
        line-height: em(25);
        text-align: center;
        .text{
            font-family: $fontfamily_2_bold;
        }
        
    }
    &__restaurantes{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_marron;
            .text{
                font-family: $fontfamily_2;
                color: $color_marron;
                font-size: em(24);
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_marron;
        }
    }
}

.texto-con-titulo-v3{
    width: 50%;
    margin-left: 40%;
    @include breakpoint(max-tablet){
        width: 90%;
        margin-left: 20px;
    }
    &__texto{
        line-height: em(32);
        text-align: left;
        .text{
            font-family: $fontfamily_2_bold;
        }   
    }
}

.texto-con-titulo-v4{
    margin: 0 auto;
    @include breakpoint(max-tablet){
        width: 100%;
    }
    &__lista{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_marron;
            @include breakpoint(max-tablet){
                border: unset;
            }
            .text{
                font-family: $fontfamily_2;
                color: $color_marron;
                font-size: em(20);
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_marron;
            @include breakpoint(max-tablet){
                border: unset;
            }
        }
    }
}

.texto-con-titulo-v5{
    &__texto{
        line-height: em(18);
        .text{
            font-family: $fontfamily_1;
        }
        
    }
    &__lista{
        text-transform: uppercase;
        &-item{
            border-right:1px solid $color_marron;
            .text{
                font-family: $fontfamily_1;
                color: $color_marron;
                font-size: em(12);
                margin-bottom: 0;
                text-align: center;
            }
        }
        &-item:first-of-type{
            border-left:1px solid $color_marron;
        }
    }
}

.texto-con-titulo-v6{
    width: 100%;
    margin: 0 auto;
    @include breakpoint(max-tablet){
        width: 100%;
        margin-left: 20px;
    }
    &__texto{
        line-height: em(24);
        text-align: left;
        .text{
            font-family: $fontfamily_2_bold;
            @include breakpoint(max-tablet){
                line-height: 1rem;
            }
        }   
    }
}

.texto-con-titulo-v8{
    width: 100%;
    margin: 0 auto;
    @include breakpoint(max-tablet){
        width: 100%;
        margin-left: 20px;
    }
    &__texto{
        line-height: em(16);
        text-align: left;
        .text{
            font-family: $fontfamily_1;
            @include breakpoint(max-tablet){
                line-height: 1rem;
            }
        }   
    }
}