<div class="texto-con-titulo-v3 {{clase_ancho}}">
    {{>@titulo-sin-subtitulo }}
    <div class="texto-con-titulo-v3__texto text-color--white">
        <p class="text">{{texto}}</p>
    </div>
</div>