<div class="texto-con-titulo-v5 {{clase_ancho}}">
    {{>@titulo-con-subtitulo-arriba--v2 }}
    <div class="texto-con-titulo-v5__texto">
        <p class="text">{{texto}}</p>
    </div>
    <div class="texto-con-titulo-v5__lista">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Acumula descuentos con cada compra</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Podrás usar tu descuento durante 3 meses</p>
            </div>
            <div class="d-flex justify-content-center px-1 texto-con-titulo-v5__lista-item">
                <p class="text">Descuentos en todos los productos excepto en Cursos</p>
            </div>
        </div>
    </div>
</div>