<div class="texto-con-titulo-v6 {{clase_ancho}}">
    {{>@titulo-sin-subtitulo--v2 }}
    <div class="texto-con-titulo-v6__texto text-color--white">
        <p class="text">{{texto}}</p>
    </div>
</div>
