<div class="texto-con-titulo-v8">
    <div class="row">
        <div class="col-12">
            <div class="texto-con-titulo-v8__texto mt-4">
                <p class="text">Queremos agradecer que seas nuestro cliente. Y no hay mejor manera de premiar tu fidelidad haciendote un descuento único en cada producto que compres con nosotros.</p>
                <p class="text">Con Artipistilos ahorrarás en cada compra y podrás usar tu descuento cuando tu quieras <strong>durante 3 meses</strong>.</p>
                <h2 class="title">¿Como funciona este programa?</h2>
            </div>
            <div class="texto-con-titulo-v8__restaurantes">
                <div class="texto-con-titulo-v8__restaurantes-item">
                    <p class="text"><span class="title--bolder">1-</span>Haz tu primera compra en Artipistilos.</p>
                </div>
                <div class="texto-con-titulo-v8__restaurantes-item">
                    <p class="text"><span class="title--bolder">2-</span>Validado tu pedido, tendrás disponible inmediatamente tu descuento.</p>
                </div>
                <div class="texto-con-titulo-v8__restaurantes-item">
                    <p class="text"><span class="title--bolder">3-</span>Cuando vayas a hacer una nueva compra podrás usarlo entrando en tu cuenta de cliente o directamente en la confrmación del pedido.</p>
                </div>
                <div class="texto-con-titulo-v8__restaurantes-item">
                    <p class="text"><span class="title--bolder">4-</span>Y lo mejor, con tu segunda compra también obtendrás mas descuentos!!.</p>
                </div>
            </div>
        </div>
    </div>
</div>
