<div class="texto-con-titulo-v4 mt-2 {{clase_ancho}}">
    {{>@titulo-con-subtitulo-arriba }}
    <div class="texto-con-titulo-v4__texto">
        <p class="text--regular mt-5">{{texto}}</p>
        <p class="text--regular mb-3">{{texto2}}</p>
    </div>
</div>